page-order {
    .newbtn{
        margin-top: 10px;
        margin-bottom: 10px;
        width:50%;
        text-align: center;
        height: 50px;
        background-color: aliceblue;
        color:black;
        border:solid 1px;
        margin:80px;
    }
    .btndiv{
        text-align: center;
    }
}
