



<ion-content class="main-view" style="background: transparent;
background-color: transparent;
height: 45%;
top: 30%;" padding>

  <div class="modal_content">
        
        <div class="img">
          <h2 *ngIf="flag==1">입금</h2>
          <h2 *ngIf="flag==2">출금</h2>
      <div style="width: 100%; display:flex; height:50px;">
        <span style="
        width: 20%;
        margin: 0px !important;
        float: left;
line-height: 50px;
font-size: 24px;" class="input-title">현금 </span>
        <ion-input (ionChange)='onChangeTime($event,1)' style="
        
color: black;
font-size: 20px;
    margin:2px;
    border: solid 1px black;
float: right;
width: 100px;
" class="input-box" placeholder=" " [(ngModel)]="inputcash" type="text"></ion-input>
   
  </div>

  <div style="width: 100%; display:flex; height:50px;">
    <span style="
    width: 20%;
    margin: 0px !important;
    float: left;
line-height: 50px;
font-size: 24px;" class="input-title">카드 </span>
    <ion-input (ionChange)='onChangeTime($event,1)' style="
    
    margin:2px;
    border: solid 1px black;
color: black;
font-size: 20px;
float: right;
width: 100px;
" class="input-box" placeholder=" " [(ngModel)]="inputcard" type="text"></ion-input>

</div>

<div style="width: 100%; display:flex; height:50px;">
  <span style="
  width: 20%;
  margin: 0px !important;
  float: left;
line-height: 50px;
font-size: 24px;" class="input-title">이름</span>
  <ion-input #input2  style="
  
  margin:2px;
  border: solid 1px black;
color: black;
font-size: 20px;
float: right;
width: 100px;
" class="input-box" placeholder=" " [(ngModel)]="inputname" type="text"></ion-input>

</div>
          <div style="bottom:5%; position:absolute; left:40%;" class="btn2">
            <!-- <button class="btn" ion-button (click)="confirm()">수정</button> -->
            <button class="btn" ion-button (click)="cancel()">취소</button>
            <button class="btn" ion-button (click)="confirm()">저장</button>
          </div>
          <!-- <button class="btn" (click)="takeVideo()" ion-button>동영상</button> -->
      
      </div>



  </div>
  </ion-content>
