
  <ion-header>
    <ion-toolbar>
      <ion-buttons  *ngIf="!firstflag||firstflag==undefined"  style="
    position: absolute;
    left: 0;
    z-index: 9999;
    ;" start>
      <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
        <img style="
        width: 30px" class="logo" src="assets/img/hamburger.png" />
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="firstflag" style="
    position: absolute;
    left: 0;
    z-index: 9999;
    color: white;" start>
      <button (click)="close();"  ion-button icon-only color="royal">
        <img style="
        width: 30px" class="logo" src="assets/img/back1.png" />
      </button>
    </ion-buttons>

      <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
          <span>{{name}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list (click)="gotolink(1)">
        <ion-item>주차파트</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(3)">
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(4)">
        <ion-item>초이스</ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="gotolink(5)">공지</ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="logout();">로그아웃</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content class="contents" padding>
  <div class="room-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">룸 현황</span>
    </div>

    <div class="chart-div">
      <div class="name-keys">
        <span>룸NO</span>
        <span>담당자</span>
        <span>산태</span>
        <span>인원</span>
        <span>WT</span>
        <span>입실T</span>
        <span>퇴실T</span>
      </div>
      <div (click)="editing(a);" *ngIf="mainlist.length==0" class="datas">
        <span style="width:100%;">현재 활성화된 방이 없습니다 </span>
      </div>
      <div (click)="editing(a);" *ngFor="let a of mainlist" class="datas">
        <span>{{a.name}}</span>
        <span>{{a.incharge}}</span>
        <span *ngIf="a.status=='reserved'"> 예약중 </span>
        <span *ngIf="a.status=='entered'"> 입실 </span>
        <span *ngIf="a.status=='clean'"> 정리중 </span>
        <span *ngIf="a.status=='fin'">완료  </span>
        <span>{{a.numofpeople}} 인 </span>
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span>
        <span>{{a.end_date}}</span>
      </div>
    </div>
  </div>

  <div class="vacancy-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">공실 현황</span>
    </div>
    <div style="background:wheat;" class="chart-div">
      <div class="flex-div small-div">
        <div class="chart-name">
          <span>소 [1인 ~ 2인]</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="smallroom.length==0"> 공실이 없습니다. </span>
       
        <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of smallroom">{{a.name}}</span>
       
      </div>
      <div class="flex-div medium-div">
        <div class="chart-name">
          <span>중 [3인 ~ 4인]</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="midroom.length==0"> 현재 공실이 없습니다. </span>
       
        <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of midroom">{{a.name}}</span>
       
      </div>
      <div class="flex-div large-div">
        <div class="chart-name">
          <span>대 [5인 ~ 6인]</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="bigroom.length==0"> 현재 공실이 없습니다. </span>
       
        <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of bigroom">{{a.name}}</span>
       
      </div>
    </div>
  </div>
</ion-content>
