@import '../theme/fonts/_fonts.scss';
// global
$dynamic-colour: var(--dynamic-colour);
body{

    font-family: ggg !important;
}
input{
    letter-spacing: 2px !important;
}
p{
    font-size:14px;
    font-family: ggg !important;
    letter-spacing: 2px;
    font-weight: 600;
}
span{
    font-size:14px;
    font-family: ggg !important;
    letter-spacing: 2px;
    font-weight: 600;

}
.text-input-ios{
    margin: 11px 8px 11px 8px !important;
}
.list-ios{
    margin:0px !important;
}
div{
    font-size:14px;
    font-family: ggg !important;
    letter-spacing: 2px;
    font-weight: 600;

}
button{
    font-family: ggg !important;
    letter-spacing: 2px;
    font-weight: 600;
}
:root{
    font-family: ggg !important;
    --dynamic-colour: 90
 }