page-gongjiwrite {
    .img{

        display: block;
        margin-top: 10px;
        margin:auto;
        }
        .toolbar-background-md{
            background: #E74371;
            color: white !important;
            }
            .toolbar-title-md{
              color:black !important;
              font-size:15px;
            }
            
}
