
  <ion-header>
    <ion-toolbar>
      <!-- <ion-buttons *ngIf="!firstflag"   style="
    position: absolute;
    left: 0;
    z-index: 9999;
    ;" start>
      <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
        <img style="
        width: 30px" class="logo" src="assets/img/hamburger.png" />
      </button>
    </ion-buttons> -->

    <ion-buttons  style="
    position: absolute;
    left: 0;
    z-index: 9999;
    color: white;" start>
      <button (click)="close();"  ion-button icon-only color="royal">
        <img style="
        width: 30px" class="logo" src="assets/img/back1.png" />
      </button>
    </ion-buttons>
      <div style="position: absolute;
      left: 45%;
      top: 5%;
      display: grid;" class="centerlogo">
        <img style="
        width: 50px;
        float:left;
    " class="logo2" src="assets/img/logo_wad.jpg" />
       
      </div>
      <ion-buttons end>
        <button (click)="searchstart();" style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
          <span>{{nickname}}<br>{{code}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu type="overlay" [content]="mycontent">
    <ion-content>
      <ion-list *ngIf="paymentflag" (click)="gotolink(3)">
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(4)">
        <ion-item>초이스..</ion-item>
      </ion-list>

      <ion-list *ngIf="type=='kyungri'" (click)="gotolink(5)">
        <ion-item>입금</ion-item>
      </ion-list>

      <ion-list *ngIf="type=='kyungri'" (click)="gotolink(6)">
        <ion-item>주문..</ion-item>
      </ion-list>
      <ion-list *ngIf="paymentflag">
        <ion-item (click)="gotolink(5)">공지</ion-item>
      </ion-list>

    <ion-list *ngIf="!paymentflag">
      <ion-item (click)="gotopayment();">결제진행</ion-item>
    </ion-list>

    <ion-list  >
      <ion-item (click)="logout();">로그아웃</ion-item>
    </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content overflow-scroll="false" class="contents" #targetElement (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" padding>
  <div *ngIf="searchon" style="
  margin-top: 59px;
  display: inherit;"  class="center">
   <div class="selecting">

    <ion-list style="  
    width: 70px;
    float: left;">
      <ion-item>
        <ion-select [(ngModel)]="selected" aria-label="fruit" placeholder="선택">
          <ion-option  value="1">영업진</ion-option>
          <ion-option  value="2">방번호</ion-option>
          <ion-option  value="3">웨이터</ion-option>
          <ion-option  value="4">전체보기</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-input  style="
    color: black;
    height: 40px;
    border: solid 1px;
    line-height: 0px;
    width: 65px;
    font-size:14px;
    float: left;" [(ngModel)]="inputtext"  placeholder="검색어 입력"></ion-input>
    <button class="btn8" style="     margin-left: 5px;
    margin-top: 0px;
    height: 41px;
    background: transparent;
    border: solid 1px;
    color: black !important;
    width: 42px;" (click)="searching();" ion-button icon-only color="royal">
      검색
    </button>
  </div>
</div>

  <div [ngClass]="searchon==true ? 'top2' :'top'">
  <span style="    font-size: 25px;
  margin-left: 20px;">{{currentstartday}}</span>
    <button (click)="buchange()"  style="
        width: 87px;
border-radius
: 10px;
    background: orange;
    border: solid 1px;
    color: black;
    height: 45px;
    margin-left: 15px; ">{{bu}}부</button>
<span style="    
margin-left:15px; 
font-size: 30px;
font-weight: 900;">{{nowtime}}</span>
  </div>
  <div class="room-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">룸 현황 {{mainlist.length}}개</span>
     

     

    </div>

    <div class="chart-div">
     
      <div class="name-keys">
        <span>룸NO</span>
        <span>담당자</span>
        <span>상태</span>
        <span>인원</span>
        <span>WT</span>
        <span>입실T</span>
        <span>퇴실T</span>
      </div>
      <div  *ngIf="mainlist.length==0" class="datas">
        <span style="width:100%;">현재 활성화된 방이 없습니다 </span>
      </div>
      <div *ngFor="let a of mainlist" class="datas">
        <span (click)="editing(a);" >{{a.name}}</span>
        <span (click)="editing(a);" >{{a.incharge}}</span>
        <span (click)="editing(a);"  *ngIf="a.status=='reserved'&&(a.noflag==false||a.noflag==undefined)"> 예약중 </span>
        <span (click)="editing(a);"  *ngIf="a.status=='entered'&&(a.noflag==false||a.noflag==undefined)"> 입실 </span>
        <span (click)="editing(a);"  *ngIf="a.status=='clean'&&(a.noflag==false||a.noflag==undefined)"> 정리중 </span>
        <span (click)="editing(a);"  *ngIf="a.status=='fin'&&(a.noflag==false||a.noflag==undefined)">완료  </span>
        <span (click)="editing(a);"  *ngIf="a.avec&&(a.noflag==false||a.noflag==undefined)">{{a.numofpeople}} 인 A </span>
        <span (click)="editing(a);"  *ngIf="!a.avec&&(a.noflag==false||a.noflag==undefined) ">{{a.numofpeople}} 인 </span>
        <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.wt}}</span>
        <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.insert_date}}</span>
        <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.end_date}}</span>
        <span (click)="editing(a);" class="noflag"  style="
        width: 70%; " *ngIf="a.noflag==true">{{a.nomemo}}</span>
      </div>
    </div>
  </div>

  <div class="vacancy-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">공실 현황</span>

      <span style="
      float: right;
      margin-right: 20px;" (click)="gotowaiting();" class="text">웨이팅 </span>
    </div>
    <div style="background:wheat;" class="chart-div">
      <div class="flex-div small-div">
        <div class="chart-name">
          <span>소 [1인 ~ 2인] {{smallroom.length}}개</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="smallroom.length==0"> 공실이 없습니다. </span>
       
        <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of smallroom">{{a.name}}</span>
        <hr>
        <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of smallroom2">{{a.name}}</span>
      </div>
      <div class="flex-div medium-div">
        <div class="chart-name">
          <span>중 [3인 ~ 4인] {{midroom.length}}개</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="midroom.length==0"> 현재 공실이 없습니다. </span>
       
        <!-- <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of midroom">{{a.name}}</span> -->
       
       <span (click)="addRoom(a);" style="
       border: solid 0.5px; background:wheat"  *ngFor="let a of midroom">{{a.name}}</span>
       <hr>
       <span (click)="addRoom(a);" style="
       border: solid 0.5px; background:wheat"  *ngFor="let a of midroom2">{{a.name}}</span>
      </div>
      <div class="flex-div large-div">
        <div class="chart-name">
          <span>대 [5인 ~ 6인] {{bigroom.length}}개</span>
        </div>
      </div>
      <div style="display: inline;" class="chart-datas">
        <span  style="background:wheat; width:100%;"  *ngIf="bigroom.length==0"> 현재 공실이 없습니다. </span>
       
        <!-- <span (click)="addRoom(a);" style="
        border: solid 0.5px; background:wheat"  *ngFor="let a of bigroom">{{a.name}}</span> -->


       <span (click)="addRoom(a);" style="
       border: solid 0.5px; background:wheat"  *ngFor="let a of bigroom">{{a.name}}</span>
       <hr>
       <span (click)="addRoom(a);" style="
       border: solid 0.5px; background:wheat"  *ngFor="let a of bigroom2">{{a.name}}</span>
       
      </div>
    </div>
  </div>


  <div style="   
  width: 95%;
" class="room-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">완료된 룸 현황 {{agasinum}}개 ,OB {{noagasi}}개</span>
     
    </div>

    <div class="chart-div">
     

      <div class="name-keys">
        <span>룸NO</span>
        <span>담당자</span>
        <span>상태</span>
        <span>인원</span>
        <span>WT</span>
        <span>입실T</span>
        <span>퇴실T</span>
      </div>
      <div  *ngIf="mainlist_finished.length==0" class="datas">
        <span style="width:100%;">현재 활성화된 방이 없습니다 </span>
      </div>
      <div (click)="editing(a);" *ngFor="let a of mainlist_finished" class="datas">
        <div *ngIf="a.agasi.length==0" style="width:100%;" class="rowrow">
          <span>{{a.name}}</span>
        <span>{{a.incharge}}</span>
        <span *ngIf="a.status=='reserved'"> 예약중 </span>
        <span *ngIf="a.status=='entered'"> 입실 </span>
        <span *ngIf="a.status=='clean'"> 정리중 </span>
        <span *ngIf="a.status=='fin'">완료  </span>
        <span>{{a.numofpeople}} 인 </span>
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span>
        <span>{{a.end_date}}</span>
        </div>
        <div *ngIf="a.agasi.length!=0" style="width:100%;" class="norowww">
          <span>{{a.name}}</span>
        <span>{{a.incharge}}</span>
        <span *ngIf="a.status=='reserved'"> 예약중 </span>
        <span *ngIf="a.status=='entered'"> 입실 </span>
        <span *ngIf="a.status=='clean'"> 정리중 </span>
        <span *ngIf="a.status=='fin'">완료  </span>
        <span>{{a.numofpeople}} 인 </span>
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span>
        <span>{{a.end_date}}</span>
        </div>
      </div>
    </div>
  </div>

</ion-content>
