<!--
  Generated template for the OrderdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>신규주문</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="
height: 80%;
background: white;" padding>
  <p style="
  color: black;
  font-size: 24px;">주종을 선택해주세요 </p>
  <div class="t" *ngFor="let a of unique">
    <p style="
    color: black;
    font-size: 15px;">{{a}}</p>
    <hr style="
    background-color: black;
">
<!-- [ngClass]="b.selected ? 'active' : 'notactive'" -->
<!-- <div class="wrapper">
  <div class="scrolls">
   
    <button ion-button *ngFor="let item of obj22[a].slice(0, obj22[a].length / 2)">
      {{ item.name }}
    </button>
  </div>
</div> -->
<div class="container">
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj22[a].slice(0, obj22[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
  <br>
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj22[a].slice(obj22[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
</div>
  </div>
  
  <p style="
  color: black;
  font-size: 24px;">안주을 선택해주세요 </p>
  <div class="t" *ngFor="let a of uniqueanju">
    
    <p style="
    color: black;
    font-size: 15px;">{{a}}</p>
    <hr style="
    background-color: black;
">
<div class="container">
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj33[a].slice(0, obj33[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
  <br>
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj33[a].slice(obj33[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
</div>
  </div>
  <p style="
  color: black;
  font-size: 24px;">음료를 선택해주세요 </p>
  <div class="t" *ngFor="let a of uniquedrink">
    
    <p style="
    color: black;
    font-size: 15px;">{{a}}</p>
    <hr style="
    background-color: black;
">
<div class="container">
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj44[a].slice(0, obj44[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
  <br>
  <div class="column">
    <button (click)="clicked(item);" ion-button *ngFor="let item of obj44[a].slice(obj44[a].length / 2)">
      {{ item.name }} <br /><br /> {{item.price.toLocaleString()}}
    </button>
  </div>
</div>
  </div>

 </ion-content>

 <div style="    text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
    border-top: solid 2px;
 height: 20%;
 " class="bott">

  <ion-list style="
  overflow-y: scroll;
  height: 60%;">
    <ion-item *ngFor="let a of selectedList">{{a.name}} , {{a.num}} , {{(a.price.replace(',','')*a.num).toLocaleString() }} <button (click)="minus(a,selectedList);" class="minus">-</button> <button (click)="plus(a,selectedList);" class="minus">+</button> </ion-item>
  </ion-list>

  <button style="
  border: solid 1px;
  height: 40px;
  width: 90px;
  position: fixed;
  bottom: 0%;
  left: 40%;" (click)="completed();">주문완료 </button>
</div>
