



<ion-content class="main-view" style="background: transparent;
background-color: transparent;

height: 325px;
top: 30%;" padding>

  <div class="modal_content">

        <div class="img">
          <div style="
          padding: 10px; padding-left:0px;">
            <div class="chart-div">
              <div class="name-keys">
            
                <span>룸NO</span>
                <span>담당자</span>
                <span>방상태</span>
                <span>아베크</span>
                <span>인원</span>
              </div>



              <div style="
              width: 90%;
              margin: auto;
              height: 30px;
    background: white;
              line-height: 20px;
              margin-top: 5px;" class="name-keys">
                <span style="
                width: 30px;">
                <input *ngIf="!firststatus"  class="input-box"  style="width:40px !important;" [(ngModel)]="room" type="text"/>
                <input *ngIf="firststatus" disabled class="input-box"  style="width:40px !important;" [(ngModel)]="room" type="text"/></span>
                <span style="    margin-left: 15px;">
                  
                  <input *ngIf="!firststatus"  style="
                  width: 59px !important;
                  margin-left: 7px;"  class="input-box"  [(ngModel)]="incharge" type="text"/>
                  <input *ngIf="firststatus" disabled style="
                  width: 59px !important;
                  margin-left: 7px;"  class="input-box"  [(ngModel)]="incharge" type="text"/></span>
                <span style="margin-left : 18px !important; " (click)="clicking(1);" style="
                width: 53px !important;" class="newspan" *ngIf="status=='reserved'" > 예약중 </span>
                <span (click)="clicking(2);" class="newspan" *ngIf="status=='entered'" > 입실 </span>
                <span (click)="clicking(3);" class="newspan" *ngIf="status=='clean'" > 정리중 </span>
                <span (click)="clicking(4);" class="newspan" *ngIf="status=='fin'" > 완료 </span>
                
                <span (click)="clicking2(a);" class="newspan"  *ngIf="avec"> A </span>
                <span (click)="clicking2(a);" class="newspan" *ngIf="!avec"> - </span>
                
                <span><input *ngIf="!firststatus||firststatus==undefined" style="    width: 50px !important;
                  margin-left: 15px;"  class="input-box" placeholder="인원"  [(ngModel)]="numofpeople" type="text"/> </span>
                
              </div>


            </div>


            <div *ngIf="!firststatus||firststatus==undefined" class="chart-div">
              <div class="name-keys">
            
                <span>WT</span>
                <span>입장일</span>
                <span>부</span>
                <span>두병여부.</span>
              </div>
              <div style="
              height: 30px;
    background: white;
              line-height: 20px;
              margin-top: 5px;" class="name-keys">
            
                <span><input   class="input-box"  [(ngModel)]="wt" type="text"/></span>
                <span><input  disabled class="input-box"  [(ngModel)]="insert_date" type="text"/></span>
  
  
                <span (click)="clicking3(0);" class="sspan" *ngIf="bu==0" > 0부 </span>
                <span (click)="clicking3(1);" class="sspan" *ngIf="bu==1" > 1부 </span>
                <span (click)="clicking3(2);" class="sspan" *ngIf="bu==2" > 2부 </span>

                <span (click)="clickforlogic(0);" class="sspan" *ngIf="logic==0" > OFF </span>
                <span (click)="clickforlogic(1);" class="sspan" *ngIf="logic==1" > 1ㅅㅌㅌ </span>
                <span (click)="clickforlogic(2);" class="sspan" *ngIf="logic==2" > 2ㅅㅌㅌ </span>
              </div>

            </div>

           
            
          </div>
          <div class="b">
            <div *ngIf="firststatus" class="left2">
              
              <ion-toggle style="
              position: absolute;
              left: 18%;
            " slot="end" (ionChange)="myChange3($event)" [(ngModel)]="booleanValue3" ></ion-toggle> <span style="    float: left;
            position: absolute;
            left: 0%;
          top: 12%;
            color: white;
              ">사용불가 </span>
      
      <ion-input *ngIf="firststatus" style="
          color: black;
          font-size: 15px;
          float: right;
          width: 115px;
          border: solid 1px;
          right: 10%;
      " class="input-box" placeholder=" " [(ngModel)]="nomemo" type="text"></ion-input>
              </div>
            <p>수정할 내용을 터치하거나 입력하여 수정해주세요.</p>
            <!-- <button class="btn" (click)="takeVideo()" ion-button>동영상</button> -->
          <button class="btn" ion-button (click)="confirm()">수정</button>
          <button class="btn" ion-button (click)="cancel()">취소</button>
          </div>
         
      </div>



  </div>
  </ion-content>
