<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: white; 
margin-top: 17px;
height: 100%;"padding>
  <div *ngIf="stage==1">
    <!-- <div class="input-title">이름</div>
    <ion-input class="input-box" placeholder="이름" [(ngModel)]="name" type="text"></ion-input> -->
    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">아이디</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="아이디 " [(ngModel)]="id" type="text"></ion-input>
    </div>

    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">비밀번호</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="비밀번호" [(ngModel)]="password" type="password"></ion-input>
    </div>

    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">비밀번호 확인</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="비밀번호 확인" [(ngModel)]="password2" type="password"></ion-input>
    </div>

    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">이름</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="이름" [(ngModel)]="name" type="text"></ion-input>
    </div>
    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">닉네임</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="닉네임" [(ngModel)]="nickname" type="text"></ion-input>


    <button style="  
    height: 52px;
    margin-left: 10px;
    border: solid 1px;
    width: 50px;
    float: right;
    font-size: 10px;
    margin-top: 5px;
   " (click)="dupul1()">중복확인</button>
    </div>

    <div style="
    display: flex; width: 100%; height:100px;">
      <div style="    height: 50px;" class="input-title">휴대전화</div>
      <ion-input style="
      color: black;
      font-size: 20px;
      float: left;
      width: 50%;
      margin-left: 30px;" class="input-box" placeholder="휴대전화 " [(ngModel)]="phone" type="number"></ion-input>


    <button style="   
    height: 52px;
    margin-left: 10px;
    border: solid 1px;
    width: 50px;
    float: right;
    font-size: 10px;
    margin-top: 5px;
   " (click)="dupul2()">중복확인</button>
    </div>

    <div style="margin-top: 15px;
    text-align: end; width: 60%; margin-left: 20%;
    " class="nextbtn">
      <button ion-button class="login-button" (click)="nextstep()"
      style="background-color: rgb(249,168,124); width: 100%;">다음단계</button>
    </div>
  </div>

  <div *ngIf="stage==2">
      <div class="input-title2"><span style="font-size:30px;" >환영합니다...{{stage}} <br></span>
      <span style="font-size:30px;">
      WAD를 이용해주시는 {{name}} 님께 <br>진심으로 감사드립니다. 
      </span>
      <span style="font-size:30px;"> 
        이용하실 회사를 선택해주세요 
      </span>
    </div>
      <div style="text-align:center;" class="center">
        <button *ngFor="let a of companies" (click)="selectcompany(a)" class="newbtn2">{{a.name}}</button>
     
      </div>
      
      <!-- <ion-input class="input-box" placeholder="이름" [(ngModel)]="name" type="text"></ion-input> -->

    <!-- <div class="input-title">성별</div>
    <div class="radio-input">
      <input type="radio" [(ngModel)]="sex" value="남">
      <label style="margin-right: 30%;">남</label>

      <input type="radio" [(ngModel)]="sex" value="여">
      <label>여</label>
    </div>

    <div class="input-title">출생년도</div>
    <div class="select-box" style="width: 60%;">
      <ion-select [(ngModel)]="birth_year" style="max-width: 100%; height: 100%; margin: 0,1%,0,0; padding: 0;">
        <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
      </ion-select>
    </div>
    <span style="float: right; margin:4% 10% 0 0;">년도</span> -->


    <!-- <ion-checkbox class="check-box" [(ngModel)]="check" color="grey" checked slot="start"></ion-checkbox>
    <ion-label class="check-name">로그인 상태 유지</ion-label> -->
    <!-- <div class="terms">

      <div class="i1">
        <ion-checkbox class="terms-check-box" [(ngModel)]="check[0]" slot="start" (click)="checker(0)"></ion-checkbox>
        <ion-label class="terms-text" >이용약관 및 개인정보 취급방침에 모두 동의합니다.</ion-label>
      </div>

      <div class="i2">
        <ion-checkbox class="terms-check-box" [(ngModel)]="check[1]" slot="start" (click)="checker(1)"></ion-checkbox>
        <ion-label class="terms-text">이용약관 동의</ion-label>
      </div>

      <button class="i3" style="background-color: lightgrey; ">약관 상세보기</button>

      <div class="i2">
        <ion-checkbox class="terms-check-box" [(ngModel)]="check[2]" slot="start" (click)="checker(2)"></ion-checkbox>
        <ion-label class="terms-text">개인정보 수집 및 이용 동의</ion-label>
      </div>

      <div class="i2" style="width: 70%;">
        <ion-checkbox class="terms-check-box" [(ngModel)]="check[3]" slot="start" (click)="checker(3)"></ion-checkbox>
        <ion-label class="terms-text">개인정보 제3자 재공 및 마케팅 활용 동의 (선택)</ion-label>
      </div>

    </div> -->


    <!-- <button ion-button class="login-button" (click)="create_account()"
      style="
      margin: auto;
      display: block;
      background:#E74371 ;
      margin-top: 30px;  margin-top: 10%;">가입 완료</button> -->
  </div>

  <div *ngIf="stage==3">

    <div class="input-title2"><span style="font-size:30px;" >환영합니다.. {{stage}}<br></span>
      <span style="font-size:30px;">
      선택하신 회사는 {{selectedCompany.name}}입니다.<br> 
      위치는 {{selectedCompany.address}} <br>
      </span>
      <span style="font-size:30px;"> 
        희망부서를 선택하세요 
      </span>
    </div>

    <div style="text-align:center;">
      <button (click)="selecttype(1)" class="newbtn">영업진 </button>
      <button (click)="selecttype(2)" class="newbtn"> WT </button> 
       <button (click)="selecttype(3)" class="newbtn">아가씨 </button>
      
    </div>
    <div style="text-align:center;">
      <button (click)="selecttype(4)" class="newbtn">경리</button>
      <button (click)="selecttype(5)" class="newbtn">인포 </button>
      <!-- <button (click)="selecttype(6)" class="newbtn">주차 </button> -->

    </div>
    <div style="text-align:center;">
      <!-- <button (click)="selecttype(7)" class="newbtn"> 밴드</button> -->
      <!-- <button (click)="selecttype(9)" class="newbtn"> </button> -->
    </div>

    <div style="text-align:center;">
    </div>
    
  </div>

  



  <div *ngIf="stage==4">
   
  
    <div class="center">

      <span style="
      color: black;
      width: 100%;
      font-size: 20px;
    display: block;
      text-align: center;">WAD 를 시작하겠습니다. </span>

    </div>

    <div style="
    margin-top: 100px;">

      <span *ngIf="type!='3'" style="
      color: black;
      width: 100%;
      font-size: 20px;
      text-align: center;">영업팀을 설정해주세요. </span>

<ion-list *ngIf="type!='3'" style=" 
height: 54px;    margin-top: 24px !important;">
  <ion-item>
    <ion-label>영업팀</ion-label>
    <ion-select [(ngModel)]="youngup">
      <ion-option *ngFor="let a of young" value="{{a}}">{{a}}</ion-option>
     
    </ion-select>
  </ion-item>
</ion-list>


<span style="
color: black;
width: 100%;
font-size: 20px;    margin-top: 24px !important;
    height: 54px;
text-align: center;">조판팀을 설정해주세요. </span>
<ion-list style="       margin-top: 24px !important;">
  <ion-item>
    <ion-label>조판팀 </ion-label>
    <ion-select [(ngModel)]="jopanteam">
      <ion-option *ngFor="let a of jopan" value="{{a}}">{{a}}</ion-option>
     
    </ion-select>
  </ion-item>
</ion-list>
    </div>


    <button class="paybtn" (click)="gotonext3();">시작하기</button>
  </div>

  <div *ngIf="stage==5">
    <div class="input-title2"><span style="font-size:30px;" >환영합니다. <br></span>
      <span *ngIf="type==1" style="font-size:30px;">
      영업진을 선택하셨군요 <br> 
      <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
        text-decoration: line-through;
        font-size: 11px;
        color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
      <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
      <!-- <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button> -->
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==2" style="font-size:30px;">
        WT 선택하셨군요 <br> 
        <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==3" style="font-size:30px;">
        아가씨를 선택하셨군요 <br> 
        축하합니다! 오늘 {{name}} 님께서는 특별한 담당을 만나셨어요. <br>
        {{name}} 님이일하실때 <br>
        필요한 기능들이 많아요!<br>
        실시간 시간체크, 오늘의 컷수, 일자별 캐린더 등등!
        <br>
        <br>
        <br>
        WAD오픈 기념 한달 무료
        <br>
        한달간 무료로 이용해보시고 마음에<br>
        안드시면 언제든 탈퇴 가능합니다. .
        <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button>
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==4" style="font-size:30px;">
        경리를 선택하셨군요 <br> 
        <br>
        한달간 무료로 이용해보시고 마음에<br>
        안드시면 언제든 탈퇴 가능합니다. .
        <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button>
        <!-- <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button> -->
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==5" style="font-size:30px;">
        인포를 선택하셨군요 <br> 
        <br>
        한달간 무료로 이용해보시고 마음에<br>
        안드시면 언제든 탈퇴 가능합니다. .
        <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <!-- <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button> -->
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==6" style="font-size:30px;">
        주차를 선택하셨군요 <br> 
        손님을 제일 먼저 맞이하고 제일 마지막까지 모시는  <br>
        {{name}} 님께 조그마한 도움을 <br>
        드리고자 WAD가 왔습니다<br>
        이제 발렛비 등등 요금청구라면 하나도 놓치지 않고 책임질께요! 
        <br>
        <br>
        <br>
        <br> <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <!-- <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button> -->
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>
      </span>
      <span *ngIf="type==7" style="font-size:30px;">
        밴드를 선택하셨군요 <br> 
        손님을 제일 먼저 맞이하고 제일 마지막까지 모시는  <br>
        {{name}} 님께 조그마한 도움을 <br>
        드리고자 WAD가 왔습니다<br>
        이제 발렛비 등등 요금청구라면 하나도 놓치지 않고 책임질께요! 
        <br>
        <br>
        <br>
        <br> <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <!-- <button *ngIf="approved" class="paybtn" (click)="initialize(1);">초기화 및 새로가입</button> -->
        <button *ngIf="!approved" class="paybtn" >승인대기중 </button>
        <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>면 다음달 이용시 요금이 청구됩니다.

      </span>

      <span *ngIf="type==8" style="font-size:30px;">
        관리를  선택하셨군요 <br> 
        손님을 제일 먼저 맞이하고 제일 마지막까지 모시는  <br>
        {{name}} 님께 조그마한 도움을 <br>
        드리고자 WAD가 왔습니다<br>
        이제 발렛비 등등 요금청구라면 하나도 놓치지 않고 책임질께요! 
        <br>
        <br>
        <br>
        <br> <button *ngIf="approved" class="paybtn" (click)="uploadToServer(2);"><span style="
          text-decoration: line-through;
          font-size: 11px;
          color: red;">{{paytext}}</span><span>한달 무료이용</span></button>
        <button *ngIf="approved" class="paybtn" (click)="initialize2(1);">무료로이용해보기</button>
        <!-- <button *ngIf="!approved" class="paybtn" >승인대기중 </button> -->
        <!-- <span *ngIf="approved">결제하기를 누르면 다음달 이용시 요금이 청구됩니다. </span>면 다음달 이용시 요금이 청구됩니다. -->

      </span>
    </div>

  </div>
    <!-- <div *ngIf="passwordcheck()===false"></div> -->
</ion-content>
<!-- <div class="footer">
  <div class="footer-text">
    <p>상호명 : 와드(WAD)</p>
    <p>주소 : 서울시 강남구 테헤란로79길 6 브이1048호</p>
    <p>대표전화 : 070-8919-7221</p>
    <p>사업자등록번호 : 459-47-01040</p>
    <p>대표자명 : 노수지</p>
    

  </div>
</div> -->

  <!-- <div class="form">
   <ion-list no-lines>
      <ion-item class="content">
          <ion-label style="display:inherit; position:relative; left:0px; width:40%">아이디
            <p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p>
          </ion-label>
          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="email" type="text" placeholder="학번 입력해주세요(예: 88학번)"></ion-input>
      </ion-item>      !-- 닉네임 --      <ion-item class="content">
      <ion-label style="display:inherit; position:relative; left:0px; width:40%">비밀번호<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>
      <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="password" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>
                       </ion-item>
                       <ion-item class="content">
                        <ion-label style="display:inherit; position:relative; left:0px; width:40%">비밀번호 확인<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>
                                <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="password2" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>
                                 </ion-item>

                                 <ion-item class="content">
                                  <ion-label style="display:inherit; position:relative; left:0px; width:40%">코드<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>
                                          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="code" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>
                                           </ion-item>
                                 <ion-item class="content">
                                  <ion-label style="display:inherit; position:relative; left:0px; width:40%">이메일<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>
                                          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="email2" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>
                                           </ion-item>



                      </ion-list>        <button ion-button color="light" (click)="createUser()" class="boxBtn createUser">                                    시작하기          </button>  </div></ion-content> -->
