
  <ion-header>
    <ion-toolbar>
      <ion-buttons style="
      position: absolute;
      left: 0;
      z-index: 9999;
      color: white;" start>
        <button (click)="openclose();"  ion-button icon-only color="royal">
          <img style="
          width: 30px" class="logo" src="assets/img/back1.png" />
        </button>
      </ion-buttons>

      <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
          <span>{{name}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list (click)="gotolink(1)">
        <ion-item>주차파트</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(2)">
        <ion-item>인포파트</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(3)">
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(4)">
        <ion-item>초이스</ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="gotolink(5)">공지</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>알림</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>누적내역</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>입금내역</ion-item>
      </ion-list>

      <ion-list>
        <ion-item (click)="logout();">로그아웃</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content class="contents" padding>
  <ion-segment style="
  margin-top: 20px;" class="ion-segment" value="1" (ionChange)="screenSwitch($event)">
    <ion-segment-button [ngClass]="activeclass=='1' ? 'segactive' : 'segactiveno'" value="1">
      <ion-label class="ion-label">초이스</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='2' ? 'segactive' : 'segactiveno'" value="2">
      <ion-label class="ion-label">완료된방 </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  class="ion-label-area">
    <div class="area" id="ion-label-area-1">
      
    <div class="chart-div">
      <div class="name-keys">

        <span>순번</span>
        <span>룸NO</span>
        <span>담당자</span>
        <span>인원</span>
        <span>입장</span>
        <span>WT</span>
        <span>입실T</span>
        <span>완료</span>
      </div>
      <div   *ngFor="let a of mainlist let j = index" class="datas">
        <div (click)="gotodetail(a);" class="main">
          <span>{{j+1}}</span>
          <span>{{a.name}}</span>
       <span>{{a.incharge}}</span>
       
        <span>{{a.numofpeople}}인 </span> 
        <span *ngIf="a.numofagasi!=undefined">{{a.numofagasi}} 인</span>
        
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span> 
        <span *ngIf="a.end_date!=undefined">{{a.end_date}}</span>

        </div>
        <div *ngIf="a.agasi!=undefined" class="panel-4" id="panel-4-{{j}}">
          <div *ngFor="let b of a.agasi" class="looping" >
            <div>
              
              <div *ngIf="b!=undefined" class="ab">
                <span style="width:45px;">{{b.name}}</span>
              <span style="width:45px;">{{b.date.split(" ")[1]}}</span>
                <button *ngIf="b.findate==undefined" (click)="end(b,a.name,a,1)" style="
                width: 45px;
                background: grey;
                border: solid 1px;
                color: white;
                height: 30px; ">종료4</button>
  
                <button (click)="reinit(b,a.name,a,1)" *ngIf="b.findate!=undefined" style="
                  width: 55px;
                  background: grey;
                  border: solid 1px;
                  color: white;
                  margin-left: 10px;
                  position: absolute;
                  height: 30px;
                  right: 5%; ">재진행</button>
                 <span *ngIf="b.findate!=undefined" style="width:55px;">종료:{{b.findate.split(" ")[1]}}</span>
                 <span *ngIf="b.tc!=undefined" style="width:45px;">{{b.tc}}개</span>
              </div>
             
            </div>
          </div>
          <div class="b">
            <!-- <span style="
            font-size: 14px;
            font-weight: 500;">총 3개</span> -->
            <button (click)="endall(a,a.name,a)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">전체종료</button>

            <button (click)="ss(a,a.name,a)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">초이스ㅅㅅ</button>
          </div>
        </div>
        
      </div>
    </div>
    </div>

    <div class="area" id="ion-label-area-2">
       
    <div class="chart-div">
      <div class="name-keys">

        <span>순3번</span>
        <span>룸NO</span>
        <span>담당자</span>
        <span>인원</span>
        <span>입장</span>
        <span>WT</span>
        <span>입실T</span>
        <span>완료</span>
      </div>
      <div   *ngFor="let a of mainlist_finished let j = index" class="datas">
        <div (click)="gotodetail(a);" class="main">
          <span>{{j+1}}</span>
          <span>{{a.name}}</span>
       <span>{{a.incharge}}</span>
       
        <span>{{a.numofpeople}} 인 </span> 
        <span *ngIf="a.agasi!=undefined">{{a.numofagasi}} 인</span>
        
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span> 
        <span *ngIf="a.end_date!=undefined">{{a.end_date}}</span>

        </div>
        <div *ngIf="a.agasi!=undefined" class="panel-4" id="panel-4-{{j}}">
          <div *ngFor="let b of a.agasi" class="looping" >
            <div>
              <span style="width:45px;">{{b.name}}</span>
              <span style="width:45px;">{{b.date.split(" ")[1]}}</span>
              <button *ngIf="b.findate==undefined" (click)="end(b,a.name,a,2)" style="
              width: 45px;
              background: grey;
              border: solid 1px;
              color: white;
              height: 30px; ">종료</button>

              <button (click)="reinit(b,a.name,a,2)" *ngIf="b.findate!=undefined" style="
              width: 55px;
              background: grey;
              border: solid 1px;
              color: white;
              margin-left: 10px;
              position: absolute;
              height: 30px;
              right: 5%; ">재진행</button>
               <span *ngIf="b.findate!=undefined" style="width:40px;">{{b.findate.split(" ")[1]}}</span>
               <span *ngIf="b.tc!=undefined" style="width:45px;">{{b.tc}}개</span>
            </div>
          </div>
          <div class="b">

            <button (click)="endall(a,a.name,a)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">전체종료</button>

            <button *ngIf="a.lack!=undefined" (click)="ss2(a,a.name,a)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">빵꾸{{a.lack}}</button>
            <!-- <span style="
            font-size: 14px;
            font-weight: 500;">총 ??? 개</span> -->
            <!-- <button (click)="endall(a,a.name)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">전체종료</button> -->
          </div>
        </div>
        
      </div>
    </div>
    </div>
    </div>
</ion-content>