
  <ion-header>
    <ion-toolbar>
      <ion-buttons style="
      position: absolute;
      left: 0;
      z-index: 9999;
      color: white;" start>
        <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
          <img style="
          width: 30px" class="logo" src="assets/img/hamburger.png" />
        </button>
      </ion-buttons>

      <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person"></ion-icon>
          <span>{{name}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <ion-item>주차파트</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>인포파트</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>초이스</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>공지</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>알림</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>누적내역</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>입금내역</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content style="background: black; margin-top:45px;" padding>

  <div class="option-title" *ngIf="option_title_ch < 2">
    <div></div>
    <span>{{option_title[option_title_ch]}}</span>
  </div>

  <div *ngIf="option_title_ch == 0" class="users-div">
    <div *ngFor="let item of view_list" (click)="get_charge_person(item.name)">{{item.name}}</div>
    <div class="disable" *ngFor="let item of sort_temp_list"></div>
  </div>

  <div *ngIf="option_title_ch == 1" class="users-div">
    <div *ngFor="let item of view_list" (click)="get_money_data()">{{item.name}}</div>
    <div class="disable" *ngFor="let item of sort_temp_list"></div>
  </div>

  <div *ngIf="option_title_ch == 2" class="sssss">
    <div class="top-bar">
      <div class="synthesis">
        <div class="over">과입금액 200 출금하기</div>
        <div class="syn">
          <span>누적미수금액 5,000,000</span>
          <span>입금하실금액 500,000</span>
          <span>입금하신금액 500,000</span>
        </div>
      </div>
      <div class="months">
        <span class="active">1월</span><span>2월</span><span>3월</span><span>4월</span>
        <span>5월</span><span>6월</span><span>7월</span><span>8월</span>
        <span>9월</span><span>10월</span><span>11월</span><span>12월</span>
      </div>
    </div>

    <div class="calendar-main" style="">
      <ion-row class="calendar-header">
        <ion-col col-2 (click)="goToLastMonth()">
          <ion-icon name="arrow-back">
          </ion-icon>
        </ion-col>

        <ion-col
        style="font-size: 18px;" col-8
        (click)="goToday()">
          {{currentYear}}년 {{currentMonth}}월
        </ion-col>

        <ion-col col-2 (click)="goToNextMonth()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>

      <div class="calendar-body">
        <div class="weeks">
          <span>일</span>
          <span>월</span>
          <span>화</span>
          <span>수</span>
          <span>목</span>
          <span>금</span>
          <span>토</span>
        </div>
        <div class="dates">
          <span *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</span>
          <span *ngFor="let day of daysInThisMonth">{{day}}</span>
          <span *ngFor="let nextDay of daysInNextMonth" class="last-month" (click)="goToNextMonth()">{{nextDay}}</span>
        </div>
        <!-- <ion-grid>
          <ion-row class="calendar-weekday">
              <ion-col>일</ion-col>
              <ion-col>월</ion-col>
              <ion-col>화</ion-col>
              <ion-col>수</ion-col>
              <ion-col>목</ion-col>
              <ion-col>금</ion-col>
              <ion-col>토</ion-col>
          </ion-row>

          <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth" >
                  <span (click)="gotocalendardetail(day)" class="currentDate" *ngIf="(
                  currentDate === day &&
                  today.getMonth()+1 === currentMonth &&
                  today.getFullYear() === currentYear
                  ); else otherDate">{{day}}</span>
                  <ng-template #otherDate class="otherDate">
                      <span (click)="gotocalendardetail(day)">{{day}}</span>
                  </ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
          </ion-row>
        </ion-grid> -->
      </div>
    </div>
  </div>
</ion-content>
