<!--
  Generated template for the ParkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons style="
    position: absolute;
    left: 0;
    z-index: 9999;
    ;" start>
      <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
        <img style="
        width: 30px" class="logo" src="assets/img/hamburger.png" />
      </button>
    </ion-buttons>

    <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

    <ion-buttons end>
      <button  style="color:white;"ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
        <span>{{name}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item>주차파트</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>인포파트</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>출근부</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>초이스</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>공지</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>알림</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>누적내역</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>입금내역</ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="logout();">로그아웃</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content style="
background: black; margin-top:45px;" padding>
  <div class="header2">
    <div class="header-parking2">
      <p style="
      font-size: 24px;
      text-decoration: underline;" class="header-parking-text2">주차</p>
      <hr class="header-parking-hr">
    </div>
    <div class="header-total2">
      <p class="header-total-text2">알계: {{totalcount}}건</p>
      <p class="header-total-text2">합계: ₩ {{totalprice.toLocaleString()}}원</p>
    </div>
  </div>
  <ion-segment class="ion-segment" value="1" (ionChange)="screenSwitch($event)">
    <ion-segment-button [ngClass]="activeclass=='1' ? 'segactive' : 'segactiveno'" value="1">
      <ion-label class="ion-label">주차현황</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='2' ? 'segactive' : 'segactiveno'" value="2">
      <ion-label class="ion-label">일주차</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass==3 ? 'segactive' : 'segactiveno'" value="3">
      <ion-label class="ion-label">월주차</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass==4 ? 'segactive' : 'segactiveno'" value="4">
      <ion-label class="ion-label">주차내역</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="showplus" class="ion-label-area">
    <div class="box-1" (click)="goToReceiptWrite('1')">
      <p>발렛</p>
    </div>

    <div class="box-2" (click)="goToReceiptWrite('2')">
      <p>대리</p>
    </div>

    <div class="box-3" (click)="goToReceiptWrite('3')">
      <p>픽업</p>
    </div>

    <div class="box-4" (click)="goToReceiptWrite('4')">
      <p>일 주차</p>
    </div>

    <div class="box-5" (click)="goToReceiptWrite('5')">
      <p>월 주차</p>
    </div>
  </div>
  <div *ngIf="!showplus" class="ion-label-area">
    <div id="ion-label-area-1">
      afsdf
      <div  *ngFor="let i of mainlist; let j = index;">
        <button  ion-long-press [interval]="800"  (pressEnded)="released(i , j)" (click)="extendedAccordion(1, j)" class="accordion" id="accordion-{{i}}">
          <div>
            <p>{{i.date}}</p>
            <p>{{i.time}}</p>
            <p>입력자 : {{i.receiver}}</p>
          </div>
          <div>
            <p>{{i.room}} {{i.incharge}} ₩{{i.price.toLocaleString() }}</p>
            <p>{{i.type}}</p>
            <img src="assets/img/bottomarrow.png" style="height: 20px; width: 20px;">
          </div>
        </button>
        <div style="color:white;" class="panel-1" id="panel-1-{{j}}">
          <div>
            <p *ngIf="i.type=='발렛'">{{i.carnum}}</p>
            <p *ngIf="i.type=='대리'||i.type=='픽업'">{{i.destination}}</p>
          </div>
        </div>
        <hr style="width: 90%; height: 1px; background-color: white;">
      </div>
    </div>
    <div id="ion-label-area-2" style="display: none;">
      two
    </div>
    <div id="ion-label-area-3" style="display: none;">
      three
    </div>
    <div id="ion-label-area-4" style="display: none;">
      <div *ngFor="let i of allmainlist let j = index">
      
        <button (click)="extendedAccordion(4, j)" class="accordion" id="accordion-{{i}}">
          <p style="font-size:20px; width:150px;">{{i.a[0].date}}</p>
          <p style="margin-top: 20px;;"><img src="assets/img/bottomarrow.png"
              style="height: 20px; width: 20px;"></p>

          <p style="flex: 4; 
          font-size: 20px; text-align: end;">일계:{{i.count}} 합계:{{i.price.toLocaleString()}}</p>
        </button>
        <div style="
        color: white;" class="panel-4" id="panel-4-{{j}}">
          <div class="looping" *ngFor="let b of i.a">
            <div>
              <span>{{b.date}}</span>
              <span>{{b.time}}</span>
              <span>입력자: {{b.receiver}}</span>
            </div>
            <!-- <div style="margin-left:20px;">
              <span>{{b.room}} {{b.incharge}} ₩{{b.price.toLocaleString()}}</span>
              <span>{{b.type}}</span>
              <span *ngIf="b.type=='발렛'">{{b.carnum}}</span>
              <span *ngIf="b.type=='대리'||b.type=='픽업'">{{b.destination}}</span>
            </div> -->
          </div>
        </div>
        <hr style="width: 90%; height: 1px; background-color: white; margin-top: 0px;">
      </div>
    </div>
  </div>

      <ion-fab *ngIf="!showplus && showflag" style="
      right: 10%;
      bottom: 10%;">
        <button (click)="goToReceiptPage()" ion-fab>+</button>
      </ion-fab>
</ion-content>