
  <ion-header>
    <ion-toolbar>
      <ion-buttons style="
      position: absolute;
      left: 0;
      z-index: 9999;
      color: white;" start>
        <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
          <img style="
          width: 30px" class="logo" src="assets/img/hamburger.png" />
        </button>
      </ion-buttons>

      <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
          <span>{{name}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <!-- <ion-list (click)="gotolink(1)">
        <ion-item>주차파트</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(2)">
        <ion-item>인포파트</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(3)">
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list (click)="gotolink(4)">
        <ion-item>초이스</ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="gotolink(5)">공지</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>알림</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>누적내역</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>입금내역</ion-item>
      </ion-list> -->

      <ion-list>
        <ion-item (click)="logout();">로그아웃</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content class="contents" padding>
  <div class="upper">

  <span style="    float: right;
  position: absolute;
  right: 25%;
  color: white;
  top: 3.5%;
">OFF</span>
  <ion-toggle style="
  margin-top: 20px;
  position: absolute;
  right: 10%;
" slot="end" (ionChange)="myChange($event)" [(ngModel)]="booleanValue" ></ion-toggle> <span style="    float: right;
position: absolute;
right: 5%;
color: white;
top: 3.5%;">ON</span>
  </div>
  <ion-segment style="
  margin-top: 50px;" class="ion-segment" value="1" (ionChange)="screenSwitch($event)">
    <ion-segment-button [ngClass]="activeclass=='1' ? 'segactive' : 'segactiveno'" value="1">
      <ion-label class="ion-label">캘린더</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='2' ? 'segactive' : 'segactiveno'" value="2">
      <ion-label class="ion-label">Today</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='3' ? 'segactive' : 'segactiveno'" value="3">
      <ion-label class="ion-label">초이스</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  class="ion-label-area">
    <div class="area area1" id="ion-label-area-1">

      <div class="top-bar">
        <div class="info">
          <div>▶월간 출근일수: {{attendcount}} </div>
          <div>■ 누적TC: ￦{{totaltcofday.toLocaleString()}} </div>
        </div>
        <div class="months">
          <span [ngClass]="currentMonth==1 ? 'active' : ''" (click)="set_month(1)">1월</span>
          <span [ngClass]="currentMonth==2 ? 'active' : ''" (click)="set_month(2)">2월</span>
          <span [ngClass]="currentMonth==3 ? 'active' : ''" (click)="set_month(3)">3월</span>
          <span [ngClass]="currentMonth==4 ? 'active' : ''" (click)="set_month(4)">4월</span>
          <span [ngClass]="currentMonth==5 ? 'active' : ''" (click)="set_month(5)">5월</span>
          <span [ngClass]="currentMonth==6 ? 'active' : ''" (click)="set_month(6)">6월</span>
          <span [ngClass]="currentMonth==7 ? 'active' : ''" (click)="set_month(7)">7월</span>
          <span [ngClass]="currentMonth==8 ? 'active' : ''" (click)="set_month(8)">8월</span>
          <span [ngClass]="currentMonth==9 ? 'active' : ''" (click)="set_month(9)">9월</span>
          <span [ngClass]="currentMonth==10 ? 'active' : ''" (click)="set_month(10)">10월</span>
          <span [ngClass]="currentMonth==11 ? 'active' : ''" (click)="set_month(11)">11월</span>
          <span [ngClass]="currentMonth==12 ? 'active' : ''" (click)="set_month(12)">12월</span>
        </div>
      </div>

      <div class="calendar-main" style="">
        <ion-row class="calendar-header">
          <ion-col col-2 (click)="goToLastMonth()">
            <ion-icon name="arrow-back">
            </ion-icon>
          </ion-col>

          <ion-col
          style="font-size: 18px;" col-8
          (click)="goToday()">
            {{currentYear}}년 {{currentMonth}}월
          </ion-col>

          <ion-col col-2 (click)="goToNextMonth()">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>

        <div class="calendar-body">
          <div class="weeks">
            <span>일</span>
            <span>월</span>
            <span>화</span>
            <span>수</span>
            <span>목</span>
            <span>금</span>
            <span>토</span>
          </div>
          <div class="dates">
            <span *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</span>
            <span (click)="openmodal(day);" *ngFor="let day of daysInThisMonth" > 
              <span (click)="gotocalendardetail(day)" class="currentDate" *ngIf="(
                currentDate === day &&
                today.getMonth()+1 === currentMonth &&
                today.getFullYear() === currentYear
                ); else otherDate">{{day}}</span><br>
                <div (click)="gotocalendardetail(day)" style="width: 7px;
                    height: 7px;
                    color: #E74371 ;
                    background: #E74371 ;
                    border-radius: 20px;
    margin-left: 20px;
    margin-top: -40px;" class="event-bullet" *ngIf="(
                currentDate === day &&
                today.getMonth()+1 === currentMonth &&
                today.getFullYear() === currentYear
                ) && checkEvent2(day)" >
                <p *ngFor="let a of tcday">
                  <span style=" 
                  font-size: 10px;
                  margin-top: 10px;
                  position: fixed;
                  margin-left: -20px;" *ngIf="a.day==day&&  (a.date.split('-')[1] == currentMonth && a.date.split('-')[2] == day)"> {{a.value}}</span>
                </p>
                    </div>
                <ng-template #otherDate class="otherDate">
                    <span (click)="gotocalendardetail(day)">{{day}}</span> <br>
                    <div (click)="gotocalendardetail(day)" style="width: 7px;
                    height: 7px;
                    color: #E74371 ;
                    background: #E74371 ;
                    border-radius: 20px;
    margin-left: 20px;
    margin-top: -40px;" class="event-bullet" *ngIf="checkEvent(day)" >
    <p *ngFor="let a of tcday">
      <span style=" 
      font-size: 10px;
      margin-top: 10px;
      position: fixed;
      margin-left: -20px;" *ngIf="a.day==day"> {{a.value}}</span>
    </p>
                    </div>
                </ng-template>  
            </span>
            <span *ngFor="let nextDay of daysInNextMonth" class="last-month" (click)="goToNextMonth()">{{nextDay}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="area" id="ion-label-area-2">
      <div style="    width: 100%; color:black;
      text-align: center;" class="title-div">
        <span *ngIf="todaymoney>=0" style=" color:black; 
        font-size: 24px;
        margin-top: 20px;
        display: inline-flex;" class="text">오늘의 TC : {{todaymoney.toLocaleString()}} </span>
      </div>
     
      <div *ngIf="currentRoom!=undefined" class="no">
        <p style="    text-align: center;
        font-size:24px;">진행중 </p>
        <div class="roomno">No.{{currentRoom}}</div>
      <div style="margin-top:20px !important;" class="time">
        <p>시작시간 {{currentStart}}</p>
        <!-- <p>종료시간 </p> -->
        <p style="    float: right;
        right: 20%;
        position: absolute;
        top: 10%;">TC : {{tctotal}}개 </p>
      </div>
          <div class="c_fill">{{diffMin}}분 경과</div>
          <div style="
          text-align: center;" class="center">
            <svg class="circle_progress" width="200" height="200" viewBox="0 0 120 120">
              <circle class="frame" cx="60" cy="60" r="54" stroke-width="12" />
              <circle id="bar" class="bar" cx="60" cy="60" r="54" stroke-width="12" />
            </svg>
          </div>
      </div>
      
     
      <div class="room-current">
       
      <p style="    text-align: center;
      font-size:24px;">Completion List</p>

        <div class="chart-div">
          <div class="name-keys">
            <span>이름..</span>
            <span>룸No.</span>
            <span>입실T</span>
            <span>퇴실T</span>
            <span>담당자</span>
            <span>TC</span>
            <span>TC(원)</span>
          </div>
          <div  *ngIf="mainlist.length==0" class="datas">
            <span style="width:100%;">오늘 완료 내역이 없습니다. </span>
          </div>
          <div (click)="editing(a);" *ngFor="let a of mainlist" class="datas">
            <span>{{name}}</span>
            <span>{{a.name}}</span>
            
            <span >{{a.enter_date_full}} </span>
            <span *ngIf="a.end_date_full!=undefined" >{{a.end_date_full.split('T')[0]}} {{a.end_date_full.split('T')[1].split(":")[0]}} : {{a.end_date_full.split('T')[1].split(":")[1]}}   </span>
            <span *ngIf="a.end_date_full==undefined" > -  </span>
            
            <span >{{a.incharge}}  </span>
            <span>{{a.tctotal}}</span>
            <span>{{a.money}}만원</span>
          </div>
        </div>
      </div>
    </div>

    <div class="area" id="ion-label-area-3">
        
    <div class="chart-div">
      <div class="name-keys">

        <span>순번</span>
        <span>룸NO</span>
        <span>담당자</span>
        <span>인원</span>
        <span>입장</span>
        <span>WT</span>
        <span>입실T</span>
        <span>완료</span>
      </div>
      <div   *ngFor="let a of mainlist2 let j = index" class="datas">
        <div (click)="gotodetail(a);" class="main">
          <span>{{j+1}}</span>
          <span>{{a.name}}</span>
       <span>{{a.incharge}}</span>
       
        <span>{{a.numofpeople}}인 </span> 
        <span *ngIf="a.agasi!=undefined">{{a.agasi.length}} 인</span>
        
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span> 
        <span *ngIf="a.end_date!=undefined">{{a.end_date}}</span>

        </div>
        <div *ngIf="a.agasi!=undefined" class="panel-4" id="panel-4-{{j}}">
          <div *ngFor="let b of a.agasi" class="looping" >
            <div>
              <span style="width:45px;">{{b.name}}</span>
              <span style="width:45px;">{{b.date.split(" ")[1]}}</span>
              <!-- <button (click)="end(b,a.name)" style="
              width: 45px;
              background: grey;
              border: solid 1px;
              color: white;
              height: 30px; ">종료</button> -->
            </div>
          </div>
          <div class="b">
            <!-- <span style="
            font-size: 14px;
            font-weight: 500;">총 3개</span> -->
            <!-- <button (click)="endall(a,a.name)"  style="
            width: 80px;
            background: orange;
            border: solid 1px;
            color: black;
            margin-left:20px;
            height: 30px; ">전체종료</button> -->
          </div>
        </div>
        
      </div>
    </div>
    </div>

  </div>
  <!-- <div class="room-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">룸 현황</span>
    </div>

    <div class="chart-div">
      <div class="name-keys">
        <span>룸NO</span>
        <span>담당자</span>
        <span>산태</span>
        <span>인원</span>
        <span>WT</span>
        <span>입실T</span>
        <span>퇴실T</span>
      </div>
      <div (click)="editing(a);" *ngFor="let a of mainlist" class="datas">
        <span>{{a.room}}</span>
        <span>{{a.incharge}}</span>
        <span *ngIf="a.status=='reserved'"> 예약중 </span>
        <span *ngIf="a.status=='entered'"> 입실 </span>
        <span *ngIf="a.status=='clean'"> 정리중 </span>
        <span *ngIf="a.status=='fin'">완료  </span>
        <span>0 인 </span>
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span>
        <span></span>
      </div>
    </div>
  </div> -->

</ion-content>
