page-agasi {
  $dynamic-colour: var(--dynamic-colour);
  :root{
    --dynamic-colour: red;
 }
 body{
  background-color: red;
 }
    .header {
        position: absolute;
        height: 60px;
        width: 100%;
        
  color: $dynamic-colour;
    }
    .scroll-content{
        padding:0px !important;
        margin-top:0px !important;
    }
    body {
      background-color: #222;
    }
    .c_fill{
      font-size: 24px;
    }
    .load {
      fill: none;
      stroke: #e8f6fd;
      stroke-width: 5;
      stroke-dasharray: 300 300;
      transform: rotate(270deg);
      transform-origin: 50px 50px;
      animation: progress 1s linear reverse;
    }
    .c_fill{
      position: absolute;
      left: 41%;
      top: 25%;
      border: solid 1px;
      border-radius: 80px;
      height: 80px;
      width: 80px;
      line-height: 80px;
      padding-left: 5px;
      box-shadow: 0 0 10px;

    font-size: 16px;
    }
    .roomno{

    position: absolute;
    left: 10%;
    font-size: 20px;
    }
    .main{
      width: 100%;
      display: flex;
    }
    .chart-div
    {
      color: black;
      text-align: center;
      .name-keys, .datas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        span{
          display: inline-block;
          width: calc(100% / 8);
        }
        span:nth-child(n+1)
        {
          border-left: solid 1px white;
        }
      }
      .name-keys
      {
        background-color: rgb(255,240,200);
        border-bottom: solid 1px black;
      }
      .datas
      {
        background-color: rgb(240, 240, 240);
        border-bottom: solid 1px rgb(176, 176, 176);
      }
      span{
        font-size:8px;
      }
    }
    .time{
      position: absolute;
      width: 100%;
    left: 10%;
    font-size: 18px;
    font-weight: 600;
    top:40%;
    p{
    }
    }
    .circle_progress_wrap {
      position: relative;
      width: 120px;
      height: 120px;
    }
    .bar{
      stroke-dasharray: 339.292;
      stroke-dashoffset: 300.646;
    }
    .circle_progress { transform: rotate(-90deg); }
    .frame, .bar { fill: none; }
    .frame { stroke: #e6e6e6; }
    .bar {
      stroke: #03c75a;
      stroke-linecap: round;
    }
    .value {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      text-align: center;
      color: #888;
      font-size: 16px;
      line-height: 120px;
    }
    .moving-circle {
      stroke-dasharray: 100;
      stroke-dashoffset: 50; 
      animation: ani 5s linear infinite;
    }
    
    // @keyframes ani {
    //   0% {
    //     stroke-dashoffset: 500; 
    //   }
    //   50% {
    //     stroke-dashoffset: 0;  
    //   }
    //   100% {
    //     stroke-dashoffset: 500;
    //   }
    // }
    .spesial {
      stroke: red;
      stroke-dasharray: 180 360;
      transform: rotate(360deg);
      animation: circpro 1s linear;
    }
 
    
    .header-parking {
        text-align: center;
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }
    .segactive{
        background: blue !important;
    }
    .area{
        height: 100%;
        background-color: white;
        
    }
    .segment-button {
        color: red; // here, instead of "red" you can use sass variable if it was already defined
    }
    .looping{
      padding-left:0px; 
      padding-right:0px;
      padding-bottom: 5px;
      padding-top:5px;
      text-align: center;
    }
    .segactive{
        background: blue !important;
    }
    .ion-label{

    font-size: 20px;
    font-weight: 700 ;
    }
    .header-parking-text {
        font-size: 15px;
        font-weight: bold;
    }
    .button-inner{
        color:white;
    }
    .box {
        height: 100%;
    }

    .box-1 {
        color: black;
        background-color: rgb(225, 226, 142);
        width: 90%;
        height: 13%;
        border-radius: 10px;

        margin: auto;

    margin-top: 20px !important;
        P {
            font-size: 3em;
            font-weight: bold;
            text-align: start;
            padding-top: 3%;
            padding-left: 3%;

    margin-top: 0px !important;
        }
    }

    .box-2 {
        color: black;
        background-color: rgb(242, 168, 120);
        width: 90%;
        height: 13%;
        border-radius: 10px;

        margin: auto;
        P {
            font-size: 3em;
            font-weight: bold;
            text-align: start;
            padding-top: 3%;
            padding-left: 3%;
        }
    }

    .box-3 {
        color: white;
        background-color: rgb(26, 0, 58);
        width: 90%;
        height: 13%;
        border-radius: 10px;

        margin: auto;
        P {
            font-size: 3em;
            font-weight: bold;
            text-align: start;
            padding-top: 3%;
            padding-left: 3%;
        }
    }

    .box-4 {
        color: white;
        background-color: rgb(116, 116, 116);
        width: 90%;
        height: 13%;
        border-radius: 10px;

        margin: auto;
        P {
            font-size: 3em;
            font-weight: bold;
            text-align: start;
            padding-top: 3%;
            padding-left: 3%;
        }
    }

    .box-5 {
        color: white;
        background-color: rgb(15, 15, 15);
        width: 90%;
        height: 13%;
        border-radius: 10px;

        margin: auto;
        P {
            font-size: 3em;
            font-weight: bold;
            text-align: start;
            padding-top: 3%;
            padding-left: 3%;
        }
    }
    .header-total {
        position: absolute;
        left: 250px;
    }
    .segment-md .segment-button{
        height: 40px !important;
    }
    .ion-segment {
        position: absolute;
        color: white;
    }

    .ion-label {
        color: white;
        margin:0px !important;
    }

    .ion-label-area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 90px;
        background-color: black;
        height: calc(100% - 132px);
        overflow-y: scroll;
    }

    .ion-item-area-1 {
        color: white;
        background-color: black;
        padding: 3%;

        p {
            color: white;
        }
    }

    .ion-item-area-4 {
        color: white;
        background-color: black;
        padding-left: 2%;
        padding-right: 2%;

        p {
            color: white;
        }
    }

    .accordion {
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: flex;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .toolbar-background{
        background: rgb(59, 56, 56);
    }
    .toolbar{
        text-align: center;
    }
    .logo{
        width:50px;
    }
    .header-parking-hr{

    margin-top: 80px;
    width: 100%;
    color: red;
    background: red;
    }
    .accordion > div {
        width: 50%;
    }
    .header_btn{

    height: 50px;
    background: transparent;
    color: white;
    border: solid 1px;
    width: 100px;
    }
    .active, .accordion:hover {
        background-color: black;
    }

    .panel-1 {
        padding: 0px 18px;
        display: none;
        columns: white;
        overflow: hidden;
    }

    .panel-1 > div {
        // width: 50%;
        padding-left: 18px;
        // margin-left: 45%;
        min-width: 56%;
        float: right;
    }

    .panel-4 {
      columns: white;
      width:100%;
      overflow: hidden;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .fab .button-inner{
      font-size:30px;
  }
  .panel-4 > div {
      width: 100%;

      span {
          display: block;
          margin: 5px;
          text-align: left;
          font-size:12px;
      }
      br {
          display: block;
          height: 3px;
      }
  }

  .panel-4 > div:first-child {
      padding-left: 0px;
  }

  .panel-4 > div:nth-child(n + 2) {
  }

    .foot-menu {
        position: fixed;
        right: 10%;
        bottom: 5%;
    }

    .contents
    {
      background: black;
      margin-top:45px;
      .room-current
      {
        margin-top: 10%;
        padding: 3%;
        .title-div
        {
          .square
          {
            color: rgb(254, 184, 45);
          }
          .text
          {
            color: white;
            font-size: 20px;
          }
        }

        .chart-div
        {
          color: black;
          text-align: center;
          .name-keys, .datas{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            span{
              display: inline-block;
              width: calc(100% / 7);
            }
            span:nth-child(n+1)
            {
              border-left: solid 1px white;
            }
          }
          .name-keys
          {
            background-color: rgb(255,240,200);
            border-bottom: solid 1px black;
          }
          .datas
          {
            background-color: rgb(240, 240, 240);
            border-bottom: solid 1px rgb(176, 176, 176);
          }
        }
      }

      .vacancy-current
      {
        margin-top: 10%;
        padding: 3%;
        .title-div
        {
          .square
          {
            color: rgb(254, 184, 45);
          }
          .text
          {
            color: white;
            font-size: 20px;
          }
        }



        .chart-div
        {
          border: solid 1px white;
          .flex-div:nth-child(n+2)
          {
            border-top: solid 1px white;
          }
          .flex-div > .chart-name
          {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: white;
            border:solid 1px;
            span:nth-child(n+2)
            {
              border-left: solid 1px white;
              flex: 1;
            }
            span:first-child
            {
              font-size: 20px;
              text-align: center;
              flex: 3;
            }
          }

          .chart-datas
          {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: rgb(255,240,200);
            span{
              height: 50px;
              line-height: 50px;
              text-align: center;
              display: inline-block;
              width: calc(100% / 6);
            }
            span:nth-child(n+2)
            {
              border-left: solid 1px rgb(117,117,117);
            }
            span:nth-child(7n)
            {
              border-left: none
            }
            span:nth-child(n+7)
            {
              border-top: solid 1px rgb(117,117,117);
            }
          }
        }
      }
    }

    .area1
    {
      background-color: black;
      .top-bar
      {
        padding-top: 15px;
        color: white;
        display: flex;
        .info
        {
          flex: 1;
          display: flex;
          flex-direction: column;
          div
          {
            border-radius: 10px;
            padding: 10px;
            flex: 1;
            text-align: start;
            font-size: 18px;
          }
          div:nth-child(1)
          {
            color: black;
            background-color: rgb(255,240,200);
          }
          div:nth-child(2)
          {
            background-color: rgb(70, 2, 69);
          }
        }
        .months
        {
          flex: 1;
          color: white;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding-left: 10px;
          text-align: center;
          span
          {
            display: block;
            width: calc(100% / 4);
            padding: 5px 0;
            border: solid 1px transparent;
          }
          .active
          {
            border: solid 1px red;
          }
        }
      }
      .calendar-main
      {
        width:90%;
        height: auto;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin:5%;
        border: solid 1px black;
        margin-top: 2%;
        border-radius: 10px;
        background-color: white;
        text-align: center;

        .calendar-header
        {
          ion-col:nth-child(2n+1)
          {
            color: #E74371;
            font-weight: bolder;
          }
          ion-icon
          {
            font-size: 1.5em;
          }
        }

        .calendar-body
        {
          .weeks, .dates
          {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            span
            {
              display: inline-block;
              width: calc(100% / 7);
    font-size: 14px;
    width: 45px;
            }
          }

          .weeks
          {
            padding: 10px 0;
            margin: 10px 0;
            span:first-child{color: red;}
            span:last-child{color: blue;}
            border-top: solid 1px black;
            border-bottom: solid 1px black;
          }

          .dates
          {
            .last-month, .next-month
            {
              color: grey;
            }
            span
            {
              height: 50px;
            }
          }
        }
      }
    }
}
