
  <ion-header>
    <ion-toolbar>
      <ion-buttons style="
      position: absolute;
      left: 0;
      z-index: 9999;
      color: white;" start>
        <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
          <img style="
          width: 30px" class="logo" src="assets/img/hamburger.png" />
        </button>
      </ion-buttons>

      <img style="margin-left:50px;" class="logo" src="assets/img/logo_wad.jpg" />

      <ion-buttons end>
        <button  style="color:white;"ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
          <span>{{name}}</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <ion-item>주차파트</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>인포파트</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>출근부</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>초이스</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>공지</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>알림</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>누적내역</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>입금내역</ion-item>
      </ion-list>

      <ion-list>
        <ion-item (click)="logout();">로그아웃</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content class="contents" padding>

  <ion-toggle style="
  margin-top: 20px;
  position: absolute;
  right: 10%;
" slot="end" (ionChange)="myChange($event)" [(ngModel)]="booleanValue" ></ion-toggle>
  <ion-segment style="
  margin-top: 50px;" class="ion-segment" value="1" (ionChange)="screenSwitch($event)">
    <ion-segment-button [ngClass]="activeclass=='1' ? 'segactive' : 'segactiveno'" value="1">
      <ion-label class="ion-label">캘린더</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='2' ? 'segactive' : 'segactiveno'" value="2">
      <ion-label class="ion-label">Today</ion-label>
    </ion-segment-button>
    <ion-segment-button [ngClass]="activeclass=='3' ? 'segactive' : 'segactiveno'" value="3">
      <ion-label class="ion-label">초이스</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  class="ion-label-area">
    <div class="area area1" id="ion-label-area-1">

      <div class="top-bar">
        <div class="info">
          <div>▶월간 출근일수: </div>
          <div>■ 누적TC: ￦ </div>
        </div>
        <div class="months">
          <span [ngClass]="currentMonth==1 ? 'active' : ''" (click)="set_month(1)">1월</span>
          <span [ngClass]="currentMonth==2 ? 'active' : ''" (click)="set_month(2)">2월</span>
          <span [ngClass]="currentMonth==3 ? 'active' : ''" (click)="set_month(3)">3월</span>
          <span [ngClass]="currentMonth==4 ? 'active' : ''" (click)="set_month(4)">4월</span>
          <span [ngClass]="currentMonth==5 ? 'active' : ''" (click)="set_month(5)">5월</span>
          <span [ngClass]="currentMonth==6 ? 'active' : ''" (click)="set_month(6)">6월</span>
          <span [ngClass]="currentMonth==7 ? 'active' : ''" (click)="set_month(7)">7월</span>
          <span [ngClass]="currentMonth==8 ? 'active' : ''" (click)="set_month(8)">8월</span>
          <span [ngClass]="currentMonth==9 ? 'active' : ''" (click)="set_month(9)">9월</span>
          <span [ngClass]="currentMonth==10 ? 'active' : ''" (click)="set_month(10)">10월</span>
          <span [ngClass]="currentMonth==11 ? 'active' : ''" (click)="set_month(11)">11월</span>
          <span [ngClass]="currentMonth==12 ? 'active' : ''" (click)="set_month(12)">12월</span>
        </div>
      </div>

      <div class="calendar-main" style="">
        <ion-row class="calendar-header">
          <ion-col col-2 (click)="goToLastMonth()">
            <ion-icon name="arrow-back">
            </ion-icon>
          </ion-col>

          <ion-col
          style="font-size: 18px;" col-8
          (click)="goToday()">
            {{currentYear}}년 {{currentMonth}}월
          </ion-col>

          <ion-col col-2 (click)="goToNextMonth()">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>

        <div class="calendar-body">
          <div class="weeks">
            <span>일</span>
            <span>월</span>
            <span>화</span>
            <span>수</span>
            <span>목</span>
            <span>금</span>
            <span>토</span>
          </div>
          <div class="dates">
            <span *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</span>
            <span (click)="openmodal(day);" *ngFor="let day of daysInThisMonth">{{day}}</span>
            <span *ngFor="let nextDay of daysInNextMonth" class="last-month" (click)="goToNextMonth()">{{nextDay}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="area" id="ion-label-area-2">
      <p style="    text-align: center;
      font-size:20px;
      padding-top: 20px;">Completion List</p>

      <div class="room-current">
        <div class="title-div">
          <ion-icon class="square" name="square"></ion-icon>
          <span class="text">룸 현황</span>
        </div>

        <div class="chart-div">
          <div class="name-keys">
            <span>이름</span>
            <span>룸No.</span>
            <span>입실T</span>
            <span>퇴실T</span>
            <span>담당자</span>
            <span>TC</span>
          </div>
          <div (click)="editing(a);" *ngFor="let a of mainlist" class="datas">
            <span>{{a.room}}</span>
            <span>{{a.incharge}}</span>
            <span *ngIf="a.status=='reserved'"> 예약중 </span>
            <span *ngIf="a.status=='entered'"> 입실 </span>
            <span *ngIf="a.status=='clean'"> 정리중 </span>
            <span *ngIf="a.status=='fin'">완료  </span>
            <span>0 인 </span>
            <span>{{a.wt}}</span>
            <span>{{a.insert_date}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="area" id="ion-label-area-3">
      333
    </div>

  </div>
  <!-- <div class="room-current">
    <div class="title-div">
      <ion-icon class="square" name="square"></ion-icon>
      <span class="text">룸 현황</span>
    </div>

    <div class="chart-div">
      <div class="name-keys">
        <span>룸NO</span>
        <span>담당자</span>
        <span>산태</span>
        <span>인원</span>
        <span>WT</span>
        <span>입실T</span>
        <span>퇴실T</span>
      </div>
      <div (click)="editing(a);" *ngFor="let a of mainlist" class="datas">
        <span>{{a.room}}</span>
        <span>{{a.incharge}}</span>
        <span *ngIf="a.status=='reserved'"> 예약중 </span>
        <span *ngIf="a.status=='entered'"> 입실 </span>
        <span *ngIf="a.status=='clean'"> 정리중 </span>
        <span *ngIf="a.status=='fin'">완료  </span>
        <span>0 인 </span>
        <span>{{a.wt}}</span>
        <span>{{a.insert_date}}</span>
        <span></span>
      </div>
    </div>
  </div> -->

</ion-content>
