<ion-header>
  <ion-toolbar>
    <ion-buttons style=" position: absolute; left: 0; z-index: 9999; color: white;" start>
    <div class="standby" style=" margin-left: 20px; float: right; display: flex; align-items: center;">
      <img style="width: 30px" class="logo" src="assets/img/standbyIcon.png" />
      <span style="font-size: 18px; margin-left: -14px; color: black; background-color: red; border-radius: 20px; width: 24px; height: 24px; margin-bottom: 20px; ">
        {{standby}}
      </span>
    </div>
      <button (click)="openclose();" menuToggle ion-button icon-only color="royal">
        <img style="width: 30px" class="logo" src="assets/img/hamburger.png" />
      </button>
    </ion-buttons>
    <img style="margin-left:96px;" class="logo" src="assets/img/logo_wad.jpg" />
    <ion-buttons end>
      <button (click)="goToSlide(4);" style="color:white;"ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button  style="color:white;"ion-button icon-only color="royal">
        <ion-icon style=" padding: 0 0.1em; font-size: 1.5em; line-height: .67; pointer-events: none; margin-right: 5px; " name="person-add"></ion-icon>
        <span style=" font-size: 14px;">
          {{nickname}}<br>{{code}}
        </span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu type="overlay" [content]="mycontent">
  <ion-content>
    <ion-list (click)="gotolink(0)">
      <ion-item>주문파트</ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="gotolink(6)">입금</ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="gotolink(7)">서빙내역</ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="gotolink(8)">판매내역</ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="logout();">로그아웃</ion-item>
    </ion-list>
    <ion-list *ngIf="!paymentflag">
      <ion-item (click)="gotopayment();">결제진행</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content padding>   
  <div style="height: 48px;border-bottom: solid 1px;margin-top: 60px;" class="upside">
    <button  [ngClass]="page==0 ? 'selected' : 'notselected'" ion-button (click)="goToSlide(0)">
      웨이터
    </button>
    <button  [ngClass]="page==1 ? 'selected' : 'notselected'" ion-button (click)="goToSlide(1)">
      인포
    </button>
    <button  [ngClass]="page==2 ? 'selected' : 'notselected'" ion-button (click)="goToSlide(2)">
      초이스
    </button>
    <button  [ngClass]="page==3 ? 'selected' : 'notselected'" ion-button (click)="goToSlide(3)">
      출근부
    </button>
    <button  [ngClass]="page==4 ? 'selected' : 'notselected'" ion-button (click)="goToSlide(4)">
      검색
    </button>
  </div>
  <div [ngClass]="searchon==true ? 'top2' :'top'">
    <span style="font-size: 25px; ">{{currentstartday}}</span>
    <button (click)="buchange()"  style=" width: 87px; border-radius : 10px; background: orange; border: solid 1px; color: black; height: 45px; margin-left: 15px; ">
      {{bu}}부
    </button>
    <span style="margin-left:15px; font-size: 30px; font-weight: 900;">
      {{nowtime}}
    </span>
  </div>
  <ion-slides (ionSlideDidChange)="slideChanged()"  #slider pager>
    <!-- 웨이터 -->
    <ion-slide >
      <div class="c">
        <div *ngIf="orderlist.length==0" class="orderlisting" style=" font-size: 30px; font-weight: 900; text-align: center; margin: auto; margin-top: 20px; text-align: center; color:black;">
          <p style=" font-size: 30px; font-weight: 900; text-align: center; margin: auto; text-align: center; color: black;"> 
            본 영업일에 내역이 없습니다.. 
          </p>
        </div>
        <ion-list style="height: 90%; position: fixed; overflow:scroll; display: flow-root; width: 100%;" class="accordion-list">
          <ion-list-header *ngFor="let i of orderlist; let j = index;" style="box-shadow: 1px 1px 1px 1px;" no-lines no-padding>
            <button *ngIf="i.status=='fin'" style="background:gray;" ion-item detail-none [ngClass]="{'section-active':i.open, 'section':!i.open}" (click)="togglesection(j)">
              <ion-icon item-left name="arrow-forward" *ngIf="!i.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="i.open"></ion-icon>
              <div class="centr">
                <span *ngIf="i.logic==1||i.logic=='1'" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==1" style="font-size: 12px; ">
                   1ㅅㅌㅌ
                </span> 
                <span *ngIf="i.logic==2||i.logic=='2'" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==2" style="font-size: 12px; ">
                   2ㅅㅌㅌ
                </span> 
                <span *ngIf="i.logic==0||i.logic==false||i.logic==undefined" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==0||i.logic==false||i.logic==undefined" style="font-size: 12px; ">
                   중방/대방 OFF.
                </span> 
                <p *ngIf="i.noflag" style="color:red; letter-spacing: 1px !important; font-size: 16px; margin: 0;">
                   W/T : {{i.wt}} , 방 인원 : {{i.numofpeople}}, 아가씨 : {{i.inagasi}} 총 술병수 : {{i.tbottle}}
                </p>
                <p *ngIf="!i.noflag||i.noflag==undefined" style="color:black; letter-spacing: 1px !important; font-size: 16px; margin: 0;"> 
                  W/T : {{i.wt}} , 방 인원 : {{i.numofpeople}}, 아가씨 : {{i.inagasi}} 총 술병수 : {{i.tbottle}}
                </p>
              </div>
            </button>
            <button *ngIf="i.flag=='nono'"  ion-item detail-none [ngClass]="{'section-active':i.open, 'section':!i.open}" ></button>
            <button *ngIf="i.flag=='nono'"  ion-item detail-none class="padding">
              <div  class="centr"></div>
            </button>
            <button *ngIf="i.flag!='nono'&&i.status!='fin'"  ion-item detail-none [ngClass]="{'section-active':i.open, 'section':!i.open}" (click)="togglesection(j)">
              <ion-icon item-left name="arrow-forward" *ngIf="!i.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="i.open"></ion-icon>
              <div class="centr">
                <span *ngIf="i.logic==1" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==1" style="font-size: 12px; ">
                   1ㅅㅌㅌ
                </span> 
                <span *ngIf="i.logic==2" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==2" style="font-size: 12px; ">
                   2ㅅㅌㅌ
                </span> 
                <span *ngIf="i.logic==0||i.logic==false||i.logic==undefined" style="font-size: 16px; background: yellow;">
                  {{i.roomno}}T   {{i.incharge}} 
                </span> 
                <span *ngIf="i.logic==0||i.logic==false||i.logic==undefined" style="font-size: 12px; ">
                   중방/대방 OFF..
                </span> 
                <p *ngIf="i.noflag" style=" color:red; letter-spacing: 1px !important; font-size: 16px; margin: 0;">
                   W/T : {{i.wt}} , 방 인원 : {{i.numofpeople}}, 아가씨 : {{i.inagasi}} 총 술병수 : {{i.tbottle}}
                </p>
                <p *ngIf="!i.noflag||i.noflag==undefined" style=" color:black; letter-spacing: 1px !important; font-size: 16px; margin: 0;">
                   W/T : {{i.wt}} , 방 인원 : {{i.numofpeople}}, 아가씨 : {{i.inagasi}} 총 술병수 : {{i.tbottle}}
                </p>
              </div>
            </button>
            <ion-item  *ngIf="i.flag!='nono'&&i.open" class="child-item" >
              <p style=" margin: 0;"> 
                주문일22 : {{i.date}}
              </p>
              <span *ngFor="let j of i.value">
              <p style=" margin: 0;" *ngIf="j.category=='주류'">
                {{j.name}} , {{j.num}}병, {{j.price.toLocaleString()}}원
              </p>
              <p style=" margin: 0;"  *ngIf="j.category!='주류'">
                {{j.name}} , {{j.num}}개, {{j.price.toLocaleString()}}원
              </p>
              </span>
              <p style=" margin: 0;">
                완티 : {{i.tcarray}} 차삼: {{i.chasamarray}}
              </p>
              <p style=" margin: 0;">
                TC : {{i.tctotal}}.{{i.chasam}}개 , {{i.money.toLocaleString()}}원
              </p>
              <p style=" margin: 0;">
                연티 : {{i.yeonti}}
              </p>
              <p style="font-size: 12px; margin: 0;">
                {{i.reason}}
              </p>
              <p style="font-size: 18px; background: pink; width: 160px;">
                합계 :  {{(i.tp+i.money+(i.yeonti*10000) ).toLocaleString()}}
              </p>
            </ion-item>
          </ion-list-header>
        </ion-list>
      </div> 
    </ion-slide><!-- slide :) -->
  
    <!-- 인포 -->
    <ion-slide style="width: 100%; height: 100%; overflow-y: scroll; " >
      <div class="room-current">
        <div class="title-div">
          <ion-icon class="square" name="square"></ion-icon>
          <span class="text">
            룸 현황 {{mainlist_info.length}}개
          </span>
        </div>
        <div class="chart-div">
          <div class="name-keys">
            <span>룸NO</span>
            <span>담당자</span>
            <span>상태</span>
            <span>인원</span>
            <span>WT</span>
            <span>입실T</span>
            <span>퇴실T</span>
          </div>
          <div  *ngIf="mainlist_info.length==0" class="datas">
            <span style="width:100%;">현재 활성화된 방이 없습니다 </span>
          </div>
          <div *ngFor="let a of paginatedArray" class="datas">
            <span (click)="editing(a);" >{{a.name}}</span>
            <span (click)="editing(a);" >{{a.incharge}}</span>
            <span (click)="editing(a);"  *ngIf="a.status=='reserved'&&(a.noflag==false||a.noflag==undefined)"> 예약중 </span>
            <span (click)="editing(a);"  *ngIf="a.status=='entered'&&(a.noflag==false||a.noflag==undefined)"> 입실 </span>
            <span (click)="editing(a);"  *ngIf="a.status=='clean'&&(a.noflag==false||a.noflag==undefined)"> 정리중 </span>
            <span (click)="editing(a);"  *ngIf="a.status=='fin'&&(a.noflag==false||a.noflag==undefined)">완료  </span>
            <span (click)="editing(a);"  *ngIf="a.avec&&(a.noflag==false||a.noflag==undefined)">{{a.numofpeople}} 인 A </span>
            <span (click)="editing(a);"  *ngIf="!a.avec&&(a.noflag==false||a.noflag==undefined) ">{{a.numofpeople}} 인 </span>
            <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.wt}}</span>
            <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.insert_date}}</span>
            <span (click)="editing(a);"  *ngIf="(a.noflag==false||a.noflag==undefined)">{{a.end_date}}</span>
            <span (click)="editing(a);" class="noflag"  style=" width: 70%; " *ngIf="a.noflag==true">{{a.nomemo}}</span>
          </div>
        </div>
        <div class="pagination">
          <button ion-button *ngFor="let page of pageNumbers" (click)="goToPage(page)" [disabled]="currentPage === page">
            {{ page }}
          </button>
        </div>
      </div>

      <div class="vacancy-current">
        <div class="title-div">
          <ion-icon class="square" name="square"></ion-icon>
          <span class="text">공실 현황</span>
          <span style=" float: right; margin-right: 20px;" (click)="gotowaiting();" class="text">웨이팅 </span>
        </div>
        <div style="background:wheat;" class="chart-div">
          <div class="flex-div small-div">
            <div class="chart-name">
              <span>소 [1인 ~ 2인] {{smallroom.length}}개</span>
            </div>
          </div>
          <div style="display: inline;" class="chart-datas">
            <span *ngIf="smallroom.length==0" style="background:wheat; width:100%;"  > 공실이 없습니다. </span>
            <span *ngFor="let a of smallroom" (click)="addRoom(a);" style=" border: solid 0.5px; background:wheat">{{a.name}}</span>
            <hr>
            <span *ngFor="let a of smallroom2" (click)="addRoom(a);" style=" border: solid 0.5px; background:wheat">{{a.name}}</span>
          </div>
          <div class="flex-div medium-div">
            <div class="chart-name">
              <span>중 [3인 ~ 4인] {{midroom.length}}개</span>
            </div>
          </div>
          <div style="display: inline;" class="chart-datas">
            <span *ngIf="midroom.length==0" style="background:wheat; width:100%;"  > 현재 공실이 없습니다. </span>
            <span *ngFor="let a of midroom" (click)="addRoom(a);" style=" border: solid 0.5px; background:wheat">{{a.name}}</span>
            <hr>
            <span *ngFor="let a of midroom2" (click)="addRoom(a);" style=" border: solid 0.5px; background:wheat">{{a.name}}</span>
          </div>
          <div class="flex-div large-div">
            <div class="chart-name">
              <span>대 [5인 ~ 6인] {{bigroom.length}}개</span>
            </div>
          </div>
          <div style="display: inline;" class="chart-datas">
            <span *ngIf="bigroom.length==0" style="background:wheat; width:100%;" > 현재 공실이 없습니다. </span>
            <span *ngFor="let a of bigroom" (click)="addRoom(a);" style="border: solid 0.5px; background:wheat">
              {{a.name}}
            </span>
            <hr>
            <span *ngFor="let a of bigroom2" (click)="addRoom(a);" style="border: solid 0.5px; background:wheat">
              {{a.name}}
            </span>
          </div>
        </div>
      </div>
      <div style="width: 95%; overflow: scroll; height: 250px; " class="room-current">
        <div class="title-div">
          <ion-icon class="square" name="square"></ion-icon>
          <span class="text">완료된 룸 현황 {{agasinum_info}}개 ,OB {{noagasi_info}}개</span>
        </div>
        <div class="chart-div">
          <div class="name-keys">
            <span>룸NO</span>
            <span>담당자</span>
            <span>상태</span>
            <span>인원</span>
            <span>WT</span>
            <span>입실T</span>
            <span>퇴실T</span>
          </div>
          <div  *ngIf="mainlist_finished_info.length==0" class="datas">
            <span style="width:100%;">현재 활성화된 방이 없습니다 </span>
          </div>
          <div (click)="editing(a);" *ngFor="let a of mainlist_finished_info" class="datas">
            <div *ngIf="a.flag=='nono'" style="width:100%;" class="rowrow">
              <span>sbs</span>
            </div>
            <div *ngIf="a.flag!='nono'&&a.agasi.length==0&&a.orderlist==undefined" style="width:100%;" class="norowww">
              <span>{{a.name}}</span>
              <span>{{a.incharge}}</span>
              <span *ngIf="a.status=='reserved'"> 예약중 </span>
              <span *ngIf="a.status=='entered'"> 입실 </span>
              <span *ngIf="a.status=='clean'"> 정리중 </span>
              <span *ngIf="a.status=='fin'">완료  </span>
              <span>{{a.numofpeople}} 인 </span>
              <span>{{a.wt}}</span>
              <span>{{a.insert_date}}</span>
              <span>{{a.end_date}}</span>
            </div>
            <div *ngIf="a.flag!='nono'&&a.agasi.length!=0" style="width:100%;" class="rowrow">
              <span>{{a.name}}</span>
              <span>{{a.incharge}}</span>
              <span *ngIf="a.status=='reserved'"> 예약중 </span>
              <span *ngIf="a.status=='entered'"> 입실 </span>
              <span *ngIf="a.status=='clean'"> 정리중 </span>
              <span *ngIf="a.status=='fin'">완료  </span>
              <span>{{a.numofpeople}} 인 </span>
              <span>{{a.wt}}</span>
              <span>{{a.insert_date}}</span>
              <span>{{a.end_date}}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 95%; " class="padding"></div>
    </ion-slide><!-- slide :) -->

    <!-- 초이스 -->
    <ion-slide  style="width: 100%;height: 100%;display: block;" >

      <ion-segment [ngClass]="searchon==true ? 'ion-segment2' :'ion-segment'" style="height:50px;"  >
        <ion-segment-button (click)="screenSwitch(1)" [ngClass]="activeclass=='1' ? 'segactive' : 'segactiveno'" value="1">
          <ion-label class="ion-label">초이스</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="screenSwitch(2)" [ngClass]="activeclass=='2' ? 'segactive' : 'segactiveno'" value="2">
          <ion-label class="ion-label">진행중인방</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="screenSwitch(3)" [ngClass]="activeclass=='3' ? 'segactive' : 'segactiveno'" value="3">
          <ion-label class="ion-label">완료된방</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngClass]="searchon==true ? 'ion-label-area2' :'ion-label-area'">
        <!-- 초이스 -->
        <div class="area" id="ion-label-area-1">
          <div *ngIf="mainlist_mine.length!=0" class="container">
            <div class="avatars">
              <div (click)="godetail(b,1)" *ngFor="let b of mainlist_mine" class="avatar">
                <div class="avatartext">{{b.name}}</div>
              </div>
            </div>
          </div>

          <ion-list style=" overflow-y: scroll;" class="lll"  no-lines reorder="true" (ionItemReorder)="reorderItems($event);">
            <ion-item *ngIf="mainlist_choice.length==0" class="it">
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div class="contentmain">
                        <p style="font-size: 30px; font-weight: 900; text-align: center; margin: auto;">
                          초이스 내역이 없습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item (click)="gotomorepage(main,1)" class="it" *ngFor="let main of mainlist_choice">
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div *ngIf="main.numofpeople!=''" class="contentmain">
                        <p *ngIf="main.avec" style="font-size: 18px; font-weight: 900;">
                          {{main.v}} #{{main.name}}  
                          <span class="sm">
                            A{{main.incharge}}
                          </span> 
                          <span *ngIf="main.totalagasi==0&&main.numofagasi==0" class="sm" style="color: black; background: pink;"> 
                            신규{{main.lack}} 
                          </span>
                          <span *ngIf="main.numofpeople-main.numofagasi>0&&main.totalagasi!=0" class="sm" style="color: black; background: yellow;"> 
                            빵{{main.lack}} 
                          </span>  
                          <span></span>
                        </p>
                        <p *ngIf="!main.avec" style="font-size: 18px; font-weight: 900;">
                          {{main.v}} #{{main.name}} 
                          <span class="sm">
                            {{main.incharge}} {{main.numofpeople}}명 {{main.wt}}
                          </span> 
                          <span *ngIf="main.totalagasi==0&&main.numofagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}} 
                          </span>
                          <span *ngIf="main.numofpeople-main.numofagasi>0&&main.totalagasi!=0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span>  
                          <img *ngIf="main.onStatus!=undefined&&main.onStatus" style="width: 47px; height: 36px; margin: auto;" src="assets/img/load.gif"/> 
                        </p>
                        <span *ngIf="main.status=='fin'" style="border: solid 1px; font-size: 12px; padding: 3px; margin-left: 10px; background: white;" >
                          종료
                        </span>
                      </div>
                      <div class="latter">
                        <p *ngIf="main.memo!=undefined" style="font-size:18px;">{{main.memo}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
          <div class="tabs-container">
            <div style="width: 50%; line-height: 5; line-height: 55px; left:0; float:left; font-size: 20px; height: 75px;"  class="tab">
              <input type="checkbox" style="display:none"  id="tab1" name="tab-group">
              <label (click)="tabclicked(1)" for="tab1"><img style=" width: 63px; margin-top: -2px; " src="assets/img/angel2.png" alt="Image Icon">
                <span style="border: solid 1px; position: absolute; float: right; top: 5%; border-radius: 20px; width: 24px; margin-left: -5px; height: 24px; background: red; font-size: 13px; color: white; padding-left: 2px; padding-top: 2px;">
                  {{angelnumber_choice}}
                </span> 
              </label>
            </div>
            <div style=" width: 50%; line-height: 5; line-height: 55px; left: 0; float: left; font-size: 20px; height: 75px; "  class="tab">
              <input type="checkbox" id="tab2" style="display:none;"  name="tab-group">
              <label (click)="tabclicked(2)" for="tab2"><img style=" width: 35px; margin-top: 5px; " src="assets/img/jimyung2.png" alt="Image Icon"> 
                <span style="border: solid 1px; position: absolute; float: right; top: 5%; border-radius: 20px; width: 24px; height: 24px; background: red; margin-left: -5px; font-size: 13px; color: white; padding-left: 2px; padding-top: 2px;">
                  {{jimyungnumber}}
                </span> 
              </label>
            </div>
          </div>
          <div id="custom-div" class="tab-content">
            <p class="jimyung">지명 <ion-icon (click)="write();" style="float: right; right: 30px; width: 60px; height: 50px; width: 60px; height: 50px; font-size:2em !important; position: relative; top: 5px;" name="add">
              </ion-icon>
            </p>
            <div style="height:170px;" class="jimyungcontent">
              <ion-item  class="it" style="height:60px !important;" *ngFor="let main of jimyung">
                <div class="chat-container">
                  <div class="chat-messages">
                    <div style=" height: 44px !important;" class="message">
                      <div class="message-content">
                        <div class="contentmain">
                          <span>{{main.room}} , {{main.incharge}}</span>
                          &nbsp;
                          <span>{{main.agasi}}</span>
                          <span (click)="deleting(main)" style=" border: solid 1px; font-size: 12px; padding: 3px; margin-left: 10px; float: right; background: white; position: absolute; right: 20%;" >
                            삭제
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
          <div id="custom-div2" class="tab-content">
            <p class="jimyung">날개 </p>
            <div style="height:170px;" class="angelcontent">
              <ion-item *ngFor="let main of mainlist_angel_choice" (click)="gotomorepage(main,4)"  class="it" style="height:60px !important; background: aliceblue;" >
                <div class="chat-container">
                  <div class="chat-messages">
                    <div style=" height: 60px !important; border:unset !important;" class="message">
                      <div class="message-content">
                        <div class="contentmain">
                            <p style="font-size: 20px; font-weight: 900;"> 
                              #{{main.name}}
                            </p>
                            <span>{{main.incharge}}</span>
                            &nbsp;
                            <span>
                              {{main.numofpeople}}명 
                            </span>
                            <span *ngIf="main.totalagasi==0">{{main.wt}} </span>
                            <span *ngIf="main.totalagasi!=0">{{main.wt}} </span>
                        </div>
                        <div class="latter">
                          <p *ngIf="main.memo!=undefined" style="font-size:18px;">{{main.memo}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div><!-- area :) -->

        <!-- 진행중인방 -->
        <div class="area" id="ion-label-area-2">
          <div *ngIf="mainlist2_mine.length!=0" class="container">
            <div class="avatars">
              <div *ngFor="let b of mainlist2_mine" (click)="godetail(b,2)" class="avatar">
                <div class="avatartext">{{b.name}}</div>
              </div>
            </div>
          </div>
          <ion-list *ngIf="mainlist_finished_choice.length==0||mainlist_finished_choice[0].numofpeople==''" style=" height: 72% !important; overflow-y: scroll;" class="lll"  no-lines >
            <ion-item class="it" >
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div class="contentmain">
                        <p style=" font-size: 30px; font-weight: 900; text-align: center;">
                          진행중 내역이 없습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="mainlist_finished_choice.length!=0&&mainlist_finished_choice[0].numofpeople!=''" style=" height: 72% !important; overflow-y: scroll;" class="lll"  no-lines >
            <ion-item *ngFor="let main of mainlist_finished_choice" (click)="gotomorepage(main,2)" class="it">
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div *ngIf="main.numofpeople!=''" class="contentmain">
                        <p *ngIf="main.avec" style="font-size: 18px; font-weight: 900;">
                          {{main.v}} #{{main.name}}  
                          <span class="sm">
                            A{{main.incharge}}
                          </span> 
                          <span *ngIf="main.totalagasi==0&&main.numofagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}} 
                          </span>
                          <span *ngIf="main.numofpeople-main.numofagasi>0&&main.totalagasi!=0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span>  
                          <span></span>
                        </p>
                        <p *ngIf="!main.avec" style="font-size: 18px; font-weight: 900;">
                          {{main.v}} #{{main.name}} 
                          <span class="sm">
                            {{main.incharge}} {{main.numofpeople}}명 {{main.wt}}
                          </span> 
                          <span *ngIf="main.totalagasi==0&&main.numofagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}} 
                          </span>
                          <span *ngIf="main.numofpeople-main.numofagasi>0&&main.totalagasi!=0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span>  
                          <span></span>
                        </p>
                        <span *ngIf="main.status=='fin'" style=" border: solid 1px; font-size: 12px; padding: 3px; margin-left: 10px; background: white;" >
                          종료
                        </span>
                      </div>
                      <div class="latter">
                        <p style="font-size:18px;" *ngIf="main.memo!=undefined">{{main.memo}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div><!-- area :) -->

        <!-- 완료된방 -->
        <div class="area" id="ion-label-area-3">
          <ion-list no-lines >
            <ion-item *ngIf="mainlist_finished_status_choice.length==0" class="it" >
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div class="contentmain">
                        <p style=" font-size: 30px; font-weight: 900; text-align: center; margin: auto;">
                          종료된 내역이 없습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item *ngFor="let main of mainlist_finished_status_choice" (click)="gotomorepage(main,3)" class="it">
              <div class="chat-container">
                <div class="chat-messages">
                  <div class="message">
                    <div class="message-content">
                      <div *ngIf="main.agasi==undefined" class="contentmainn">
                        <p *ngIf="main.avec" style="font-size: 18px; font-weight: 900;">{{main.v}} #{{main.name}}  
                          <span class="sm">
                            A{{main.incharge}} {{main.numofpeople}}명 {{main.wt}}
                          </span> 
                          <span *ngIf="main.totalagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}}
                          </span>
                          <span *ngIf="main.totalagasi!=0 && main.lack>0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}}
                          </span> 
                        </p>
                        <p *ngIf="!main.avec" style="font-size: 18px; font-weight: 900;">{{main.v}} #{{main.name}} 
                          <span class="sm">
                            {{main.incharge}} {{main.numofpeople}}명 {{main.wt}}
                          </span> 
                          <span *ngIf="main.totalagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}}
                          </span>
                          <span *ngIf="main.totalagasi!=0 && main.lack>0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span> 
                        </p>
                      </div>
                      <div *ngIf="main.agasi!=undefined" class="contentmain">
                        <p *ngIf="main.avec" style="font-size: 18px; font-weight: 900;">{{main.v}} #{{main.name}}  
                          <span class="sm">
                            A{{main.incharge}} {{main.numofpeople}}명 {{main.wt}}
                          </span> 
                          <span *ngIf="main.totalagasi==0" class="sm" style="color: black; background: pink;"> 
                            신규{{main.lack}}
                          </span>
                          <span *ngIf="main.totalagasi!=0 && main.lack>0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span> 
                        </p>
                        <p *ngIf="!main.avec" style="font-size: 18px; font-weight: 900;">{{main.v}} #{{main.name}} 
                          <span class="sm">{{main.incharge}} {{main.numofpeople}}명 {{main.wt}}</span> 
                          <span *ngIf="main.totalagasi==0" class="sm" style="color: black; background: pink;" > 
                            신규{{main.lack}}
                          </span>
                          <span *ngIf="main.totalagasi!=0 && main.lack>0" class="sm" style="color: black; background: yellow;" > 
                            빵{{main.lack}} 
                          </span> 
                        </p>
                      </div>
                      <div style=" margin-right: 10px;" class="latter">
                        <p *ngIf="main.memo!=undefined" style="font-size:18px;" >
                          {{main.memo}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div><!-- area :) -->
      </div>
    </ion-slide><!-- slide :) -->
  
    <!-- 출근부 -->
    <ion-slide style="width: 100%; height: 100%; display: block;" >

      <ion-segment [ngClass]="searchon_att==true ? 'ion-segment2' :'ion-segment'" style=" height:50px; "  >
        <ion-segment-button (click)="screenSwitch_att(1)" [ngClass]="activeclass_att=='1' ? 'segactive' : 'segactiveno'" value="1">
          <ion-label class="ion-label">출근부</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="screenSwitch_att(2)" [ngClass]="activeclass_att=='2' ? 'segactive' : 'segactiveno'" value="2">
          <ion-label class="ion-label">내역 </ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="screenSwitch_att(3)" [ngClass]="activeclass_att=='3' ? 'segactive' : 'segactiveno'" value="3">
          <ion-label class="ion-label">나의팀 </ion-label>
        </ion-segment-button>
      </ion-segment> 

      <div [ngClass]="searchon_att==true ? 'ion-label-area2' :'ion-label-area'">
        <!-- 출근부 -->
        <div class="area" id="ion-label-area_att-1">
          <div style="height: 60%;overflow-y: scroll;position: absolute;" class="room-current">
            <div class="title-div">
              <ion-icon class="square" name="square"></ion-icon>
              <span style="color:black;" class="text">오늘의 출근 현황.</span>
            </div>
            <div class="chart-div">
              <div class="name-keys">
                <span>팀</span>
                <span>아가씨</span>
                <span>개수</span>
                <span>TC</span>
                <span>상태</span>
              </div>
              <div  *ngIf="mainlist_att.length==0" class="datas">
                <span style="width: 100%;">출근 데이터가없습니다.</span>
              </div>
              <ng-container *ngFor="let a of mainlist_att">
                <div *ngIf="a.status=='standby'" (click)="editing2(a);"  class="datas">
                  <span style="font-size: 11px;text-align: center;">{{a.team}}</span>
                  <span>{{a.name}}</span>
                  <span >{{a.wantee}} </span>
                  <span>{{a.tc}}</span>
                  <span>대기</span>
                </div>
              </ng-container>
              <ng-container *ngFor="let a of mainlist_att">
                <div *ngIf="a.status=='justcome'" (click)="editing2(a);"  class="datas">
                  <span style="font-size: 11px;text-align: center;">{{a.team}}</span>
                  <span>{{a.name}}</span>
                  <span >{{a.wantee}} </span>
                  <span>{{a.tc}}</span>
                  <span>출근</span>
                </div>
              </ng-container>
              <ng-container *ngFor="let a of mainlist_att">
                <div *ngIf="a.status=='attend'" (click)="editing2(a);"  class="datas">
                  <span style="font-size: 11px;text-align: center;">{{a.team}}</span>
                  <span>{{a.name}}</span>
                  <span >{{a.wantee}} </span>
                  <span>{{a.tc}}</span>
                  <span>방중</span>
                </div>
              </ng-container>
              <ng-container *ngFor="let a of mainlist_att">
                <div *ngIf="a.status=='gotohome'" (click)="editing2(a);"  class="datas">
                  <span style="font-size: 11px;text-align: center;">{{a.team}}</span>
                  <span>{{a.name}}</span>
                  <span >{{a.wantee}} </span>
                  <span>{{a.tc}}</span>
                  <span>퇴근</span>
                </div>
              </ng-container>
            </div>
          </div>
          <div style="height: 20%; position: fixed; z-index: 1; bottom: 10%; width: 95%; margin-top: 0px !important; top: 68%;" class="room-current">
            <div class="chart-div">
              <div class="name-keys">
                <span style="width:50%;">총 출근</span>
                <span style="width:50%;">{{totalin_att}}명 </span>
              </div>
              <div class="datas">
                <span style="width:50%;">현재 방에 들어간 아가씨  </span>
                <span style="width:50%;">{{numberofIn}}명 </span>
              </div>
              <div class="datas">
                <span style="width:50%;">현재 대기중인 아가씨  </span>
                <span style="width:50%;">{{numofstandby_att}}명 </span>
              </div>
            </div>
          </div>
        </div><!-- area :) -->
        <!-- 내역 -->
        <div class="area" style="overflow: scroll; height: 100%;" id="ion-label-area_att-2">
          <div class="calendar-main" style="">
            <ion-row class="calendar-header">
              <ion-col col-2 (click)="goToLastMonth()">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-col>
              <ion-col style="font-size: 18px;" col-8 (click)="goToday()">
                {{currentYear}}년 {{currentMonth}}월
              </ion-col>
              <ion-col col-2 (click)="goToNextMonth()">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
            <div class="calendar-body">
              <div class="weeks">
                <span>일</span>
                <span>월</span>
                <span>화</span>
                <span>수</span>
                <span>목</span>
                <span>금</span>
                <span>토</span>
              </div>
              <div class="dates">
                <span *ngFor="let lastDay of daysInLastMonth" (click)="goToLastMonth()" class="last-month" >
                  {{lastDay}}
                </span>
                <span *ngFor="let day of daysInThisMonth">
                  <span *ngIf="( currentDate === day && today.getMonth()+1 === currentMonth && today.getFullYear() === currentYear); else otherDate" (click)="openmodal(day,currentMonth,currentYear)"  style="border: solid 1px;" class="currentDate" >
                    {{day}}
                  </span><br>
                  <ng-template #otherDate class="otherDate">
                    <span *ngIf="( day == selectedDay && selectedMonth == currentMonth && selectedYear == currentYear)" (click)="openmodal(day,currentMonth,currentYear)"  style="background: pink; border-radius: 20px; height: 20px; width: 20px;" >
                      {{day}}
                    </span>
                    <span *ngIf="( day != selectedDay && today.getMonth()+1 == currentMonth && today.getFullYear() == currentYear)" (click)="openmodal(day,currentMonth,currentYear)"  style="width: 20px;" >
                      {{day}}
                    </span>
                    <span *ngIf="( (today.getMonth()+1 != currentMonth && today.getFullYear() == currentYear)&&!( day == selectedDay && selectedMonth == currentMonth && selectedYear == currentYear))" (click)="openmodal(day,currentMonth,currentYear)" style=" width: 20px;" >
                      {{day}}
                    </span>
                  </ng-template> 
                </span>
                <span *ngFor="let nextDay of daysInNextMonth" class="last-month" (click)="goToNextMonth()">
                  {{nextDay}}
                </span>
              </div>
            </div>
          </div>
          <div class="listing">
            <div class="room-current">
              <div class="title-div">
                <ion-icon class="square" name="square"></ion-icon>
                <span class="text">룸 현황</span>
              </div>
              <div class="chart-div">
                <div class="name-keys">
                  <span>이름</span>
                  <span>TC</span>
                  <span>완티</span>
                  <span>반티</span>
                  <span>차비</span>
                  <span>금액</span>
                  <span>담당자</span>
                </div>
                <div *ngIf="agasijungsan_att.length==0" (click)="editing(a);" class="datas">
                  <span style="width:100%;">해당일 정산내역이 없습니다 </span>
                </div>
                <div *ngFor="let a of agasijungsan_att let j = index" (click)="editing(a);" class="datas">
                  <span>{{a.name}}</span>
                  <span>{{a.tc}}</span>
                  <span>{{a.wantee}}</span>
                  <span>{{a.bantee}}</span>
                  <span>{{a.chasam}}</span>
                  <span>{{a.money}}</span>
                  <span>{{a.incharge}}</span>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-bottom: 50px;" class="room-current">
            <div class="title-div">
              <ion-icon class="square" name="square"></ion-icon>
              <span class="text">찡 현황</span>
            </div>
            <div class="chart-div">
              <div class="name-keys">
                <span>NO</span>
                <span>팀</span>
                <span>찡(완티)</span>
                <span>찡(반티)</span>
                <span>찡합계</span>
              </div>
              <div *ngIf="newlist_att.length==0" (click)="editing(a);" class="datas">
                <span style="width:100%;">해당일의 찡 내역이 없습니다. </span>
              </div>
              <div *ngFor="let a of newlist_att let j = index" (click)="editing(a);" class="datas">
                <span>{{j+1}}</span>
                <span>{{a.teamname}}</span>
                <span>{{a.wantee}}</span>
                <span>{{a.bantee}}</span>
                <span>{{a.jjing}}</span>
              </div>
            </div>
          </div>
        </div><!-- area :) -->
        <!-- 나의팀 -->
        <div class="area" id="ion-label-area_att-3">
          <div class="room-current">
            <div class="title-div">
              <ion-icon class="square" name="square"></ion-icon>
              <span class="text">오늘의 찡 현황</span>
            </div>
            <div class="chart-div">
              <div class="name-keys">
                <span>NO</span>
                <span>팀</span>
                <span>찡(완티)</span>
                <span>찡(반티)</span>
                <span>찡합계</span>
              </div>
              <div *ngIf="todayatt.length==0" (click)="editing(a);" class="datas">
                <span style="width:100%;">오늘의 찡 내역이 없습니다 </span>
              </div>
              <div *ngFor="let a of todayatt let j = index" (click)="editing(a);" class="datas">
                <span>{{j+1}}</span>
                <span >{{a.teamname}}</span>
                <span>{{a.wantee}}</span>
                <span>{{a.bantee}}</span>
                <span>{{a.jjing}}</span>
              </div>
            </div>
          </div>
          <div style="height: 60%; overflow-y: scroll; position: absolute;" class="room-current">
            <div class="title-div">
              <ion-icon class="square" name="square"></ion-icon>
              <span style="color:black;" class="text">오늘의 출근 현황.</span>
            </div>
            <div class="chart-div">
              <div class="name-keys">
                <span>팀</span>
                <span>아가씨</span>
                <span>개수</span>
                <span>TC</span>
                <span>상태</span>
              </div>
              <div *ngIf="myteam_list.length==0" class="datas">
                <span style="width: 100%;">출근 데이터가없습니다.</span>
              </div>
              <div *ngFor="let a of myteam_list" (click)="editing2(a);" class="datas">
                <span style="font-size: 11px; text-align: center;">{{a.team}}</span>
                <span>{{a.name}}</span>
                <span>{{a.wantee}} </span>
                <span>{{a.tc}}</span>
                <span *ngIf="a.status=='justcome'">출근</span>
                <span *ngIf="a.status=='attend'">방중</span>
                <span *ngIf="a.status=='standby'">대기</span>
                <span *ngIf="a.status=='gotohome'">퇴근</span>
              </div>
            </div>
          </div>
        </div><!-- area :) -->
        <ion-fab *ngIf="activeclass_att==1" style="bottom: 268px;z-index: 9999999999;" bottom right >
          <button (click)="attending();" ion-fab mini>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
      </div>
    </ion-slide><!-- slide :) -->

    <!-- 검색 -->
    <ion-slide  style="width: 100%; height: 100%; display: block;" >
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      page5..searcharea
      <ion-list style=" overflow-y: scroll;" class="lll"  no-lines >
        <ion-item *ngFor="let main of searchResult" (click)="gotomorepage(main.item,main.no)" class="it" >
          <div class="chat-container">
            <div class="chat-messages">
              <div class="message">
                <div class="message-content">
                  <div *ngIf="main.item!=undefined&&main.item.numofpeople!=''" class="contentmain">
                    <p *ngIf="main.item!=undefined&&main.item.avec" style="font-size: 18px; font-weight: 900;"> 
                      #{{main.item.name}}  
                      <span class="sm">
                        A{{main.item.incharge}}
                      </span>
                      <span *ngIf="main.item.totalagasi==0&&main.item.numofagasi==0" class="sm" style="color: black; background: pink;" > 
                        신규{{main.item.lack}} 
                      </span>
                      <span *ngIf="main.item.numofpeople-main.item.numofagasi>0&&main.item.totalagasi!=0" class="sm" style="color: black; background: yellow;" >
                         빵{{main.item.lack}} 
                      </span>  
                      <span></span>
                    </p>
                    <p *ngIf="!main.item.avec" style="font-size: 18px; font-weight: 900;"> 
                      #{{main.item.name}} 
                      <span class="sm">
                        {{main.item.incharge}} {{main.item.numofpeople}}명 {{main.item.wt}}
                      </span> 
                      <span *ngIf="main.item.totalagasi==0&&main.item.numofagasi==0" class="sm" style="color: black; background: pink;" >
                        신규{{main.item.lack}} 
                      </span>
                      <span *ngIf="main.item.numofpeople-main.item.numofagasi>0&&main.item.totalagasi!=0" class="sm" style="color: black; background: yellow;" > 
                        빵{{main.item.lack}} 
                      </span>  
                      <img *ngIf="main.item.onStatus!=undefined&&main.item.onStatus" style="width: 47px; height: 36px; margin: auto;" src="assets/img/load.gif"/> 
                    </p>
                    <span *ngIf="main.item!=undefined&&main.item.status=='fin'" style="border: solid 1px; font-size: 12px; padding: 3px; margin-left: 10px; background: white;" >
                      종료
                    </span>
                  </div>
                  <div class="latter">
                    <p *ngIf="main.item!=undefined&&main.item.memo!=undefined" style="font-size:18px;" >
                      {{main.item.memo}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide><!-- slide :) -->
  </ion-slides>
</ion-content>