



<ion-content class="main-view" style="background: transparent;
background-color: transparent;

height: 420px;
top: 10%;" padding>

  <div class="modal_content">

        <div style="
        height: 15px;
    " class="More">
                <span style="left: 20px;
                font-size:20px;
                position: absolute;">웨이팅 추가</span>
        </div>
        <!-- <div  class="upper">
                <div *ngIf="room.category!='소'" class="left">
                        <span style="  
                   top: 10%;
    float: left;
    position: fixed;
    left: 12%;
              ">OFF</span>
                <ion-toggle style="
                position: absolute;
                left: 12%;
              " slot="end" (ionChange)="myChange($event)" [(ngModel)]="booleanValue" ></ion-toggle> <span style="
    position: absolute;
    color: white;
    top: 30%;
">ON</span>

                </div>
                <div class="right">
                        <span style="      float: right;
                        position: absolute;
                        right: 50%;
                        color: white;
                        top: 30%;
              ">OFF</span>
                <ion-toggle style="
                position: absolute;
                right: 12%;
              " slot="end" (ionChange)="myChange2($event)" [(ngModel)]="booleanValue2" ></ion-toggle> <span style="    float: right;
              position: absolute;
              right: 5%;
              color: white;
                top: 30%;">ON</span>
                </div>
                </div> -->
        <div class="img">
          <div style="width: 100%; height:70px;">
            <div style="
            width: 30%;
            margin: 0px !important;
            float: left;
    line-height: 50px;
    font-size: 24px;
            " class="input-title">담당자</div>
            <ion-input style="
            
    color: white;
    font-size: 20px;
    float: right;
    width: 150px;
    border: solid 1px;
    " class="input-box" placeholder=" " [(ngModel)]="incharge" type="text"></ion-input>
          </div>

          <div style="width: 100%; height:70px;">
            <div style="
            width: 30%;
            margin: 0px !important;
            float: left;
    line-height: 50px;
    font-size: 24px;
            " class="input-title">인원</div>
            <ion-input style="
            
    color: white;
    font-size: 20px;
    float: right;
    width: 150px;
    border: solid 1px;
    " class="input-box" placeholder=" " [(ngModel)]="numofpeople" type="text"></ion-input>
          </div>

          <div style="width: 100%; height:70px;">
            <div style="
            width: 30%;
            margin: 0px !important;
            float: left;
    line-height: 50px;
    font-size: 24px;
            " class="input-title">W / T</div>
            <ion-input style="
            
    color: white;
    font-size: 20px;
    float: right;
    width: 150px;
    border: solid 1px;
    " class="input-box" placeholder=" " [(ngModel)]="wt" type="text"></ion-input>
          </div>

          <!-- <div class="left2">
              
        <ion-toggle style="
        position: absolute;
        left: 18%;
      " slot="end" (ionChange)="myChange3($event)" [(ngModel)]="booleanValue3" ></ion-toggle> <span style="    float: left;
      position: absolute;
      left: 0%;
    top: 35%;
      color: white;
        ">사용불가 </span>

<ion-input *ngIf="booleanValue3" style="
    color: white;
    font-size: 15px;
    float: right;
    width: 115px;
    border: solid 1px;
    right: 10%;
" class="input-box" placeholder=" " [(ngModel)]="nomemo" type="text"></ion-input>
        </div> -->

          <!-- <button class="btn" (click)="takeVideo()" ion-button>동영상</button> -->
       
      </div>

      <div class="b">
        <button class="btn" ion-button (click)="confirm()">저장</button>
        <button class="btn" ion-button (click)="cancel()">취소</button>

      </div>


  </div>
  </ion-content>
